{% extends 'FrontendBundle::Jurisdicciones/jurisdicciones-listado.html.twig' %}
{% block title %} Jurisdicciones{% endblock %}
{% block CSs %}
<link rel="stylesheet" href="{{ asset('public/Buttons-1.4.2/css/buttons.bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('public/responsive-2.2.0/css/responsive.bootstrap.min.css') }}">
  <style>
    table { width: 50% }
    tbody tr:hover.active td,
    tbody tr:hover td {
      background-color: #A9D0F5;
      cursor: pointer;
    }               
    .table>tbody>tr.active>td {
      background-color: #A9D0F5;
      color: #000000;
      font:  bold 12px/18px;
    }
  </style>              
{% endblock %}
{% block Scripts %}
 <!-- DataTables -->
<script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/responsive-2.2.0/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('public/responsive-2.2.0/js/responsive.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/JSZip-2.5.0/jszip.min.js') }}"></script>
<script src="{{ asset('public/pdfmake-0.1.32/pdfmake.min.js') }}"></script>
<script src="{{ asset('public/pdfmake-0.1.32/vfs_fonts.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.colVis.min.js') }}"></script>

<!-- <script src="{{ asset('') }}"></script>  --> 
<script src="{{ asset('ratsoft/ratsoft.js') }}"></script>
<script src="{{ asset('ratsoft/jurisdicciones-listado.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script>
  
  jQuery.extend(jQuery.validator.messages, {
    required: "Este campo es requerido.",
    remote: "Please fix this field.",
    email: "Por favor ingrese una cuenta de email valida.",
    url: "Por favor ingrese una URL valida.",
    date: "Por favor ingrese una fecha valida.",
    dateISO: "Por favor ingrese una fecha valida(ISO).",
    number: "Solo se admiten numeros.",
    digits: "Por favor ingrese digitos.",
    creditcard: "Please enter a valid credit card number.",
    equalTo: "Please enter the same value again.",
    accept: "Please enter a value with a valid extension.",
    maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
    minlength: jQuery.validator.format("Please enter at least {0} characters."),
    rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
    range: jQuery.validator.format("Please enter a value between {0} and {1}."),
    max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
    min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
});
</script>
{% endblock %}
{% block botones %}
	<div class="text-center">
		<div class="col-md-6 col-sm-6 col-xs-12">
            <button class="btn btn-danger btn-block" id="boton-add">
        <i class="fa fa-plus-circle" aria-hidden="true" id="agregarJurisdiccion"> Agregar Datos</i>
			</button>
		</div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <button class="btn btn-primary btn-block" id="boton-editar">
        <i class="fa fa-pencil" aria-hidden="true" id="editarJurisdiccion"> Editar Datos</i>
      </button>
    </div>
	</div>	
{% endblock %}
