{% extends 'FrontendBundle::Default/base.html.twig' %}
{% block title %} Ventas{% endblock %}
{% block CSs %}
<link rel="stylesheet" href="{{ asset('public/Buttons-1.4.2/css/buttons.bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('public/responsive/2.2.0/css/responsive.bootstrap.min.css') }}">
  <style>
    /*table { width: 50% }*/
    tbody tr:hover.active td,
    tbody tr:hover td {
      background-color: #A9D0F5;
      cursor: pointer;
    }               
    .table>tbody>tr.active>td {
      background-color: #A9D0F5;
      color: #000000;
      font:  bold 12px/18px Georgia, serif;
    }
    tr.group,
                tr.group:hover {
                  background-color: #ddd !important;
                }
  </style> 
{% endblock %}
{% block Scripts %}
 <!-- DataTables -->
<script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/JSZip-2.5.0/jszip.min.js') }}"></script>
<script src="{{ asset('public/pdfmake-0.1.32/pdfmake.min.js') }}"></script>
<script src="{{ asset('public/pdfmake-0.1.32/vfs_fonts.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.colVis.min.js') }}"></script>
<script src="{{ asset('public/responsive/2.2.0/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('public/responsive/2.2.0/js/responsive.bootstrap.min.js') }}"></script> 
<!-- <script src="{{ asset('') }}"></script>  --> 
<script>
  //con esto bloqueamos la pantalla cuando inicia alguna accion ajax..
  $(document).ajaxStart(function() {
            $.blockUI({ css: { 
                border: 'none', 
                padding: '15px', 
                backgroundColor: '#000', 
                '-webkit-border-radius': '10px', 
                '-moz-border-radius': '10px', 
                opacity: .5, 
                color: '#fff' 
            },message: 'Por Favor, espere...'})
        });
    //cuando termina la accion ajax, se desbloquea..
    $(document).ajaxStop(function() {
        $.unblockUI();
    });
    
  $(document).ready(function() {
  $(document).ready(function() {
  var table = $('#tabla-ventas').DataTable({
                    dom: 'f<B>rt<ip>',
                    //configuramos la cantidad de datos que queremos que nos muestre el menu
                    lengthMenu: [
                        [ 10, 25, 50, -1 ],
                        [ '10 Filas', '25 Filas', '50 Filas', 'Todos' ]
                    ],
                    //elegis los formatos para exportar los datos de la tabla, colvis (va a servir para seleccionar que columnas queres q se vean o no), pagelenth para seleccionar la cantidad  datos mostrados 
                    buttons: [ 'copy', 'excel', 'pdf', 'csv', 'print', 'colvis', 'pageLength'],
                    
                    "columnDefs": [ 
                                  //con esto podes setear que columnas queres aparezca o no
                                  //{ "visible": false, "targets": 3 },
                                    { responsivePriority: 1, targets: 0 },
                                    { responsivePriority: 2, targets: 3 },
                                    
                    ],

                    "responsive":
                    // {
                    //       details: {
                    //          display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    //                type: ''
                             
                    //      }
                    //  },
                    true,                    
                    "processing": true,
                    "ajax": "/empresa",
                    "columns": [
                              {   // Responsive control column
                          data: null,
                          defaultContent: '',
                          className: 'control',
                          orderable: false
                      },
                      { "data": "nombre"},
                      { "data": "cuit",
                        "className": "cuit"}, //esto es importante, le ponemos una clase a este campo
                      { "data": "iva.detalle"},
                      { "data": "provincia.nombre" }
                      ]
                  });
                  
                  table.buttons().container().appendTo( '#tabla-empresas .col-sm-6:eq(0)' );                 
                  
 });                               
                
            </script>

{% endblock %}
{% block body %}
  <!-- ACA EMPIEZO A TRABAJAR LA INTERFAZ Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
       <h2>
        Ventas
        <small>Buscador</small>
      </h2>
      <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home"></i> home</a></li>
        <li><a href="/contable"><i class="fa fa-calculator"></i> contable</a></li>
        <li class="active"><i class="fa fa-search"></i>Buscador de ventas</li>
      </ol>
    </section>    
    <section class="content">
      <!-- Small boxes (Stat box) -->                                                          
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Busque la factura deseada..</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table id="tabla-ventas" class="table table-bordered table-striped table-hover dt-responsive nowrap"> <!-- nowrap -->
                  <thead>                  
                    <tr>
                      <th>Razon Social</th>
                      <th>Cuit</th>
                      <th data-priority="1">Condicion IVA</th>
                      <th data-priority="2">Jurisdiccion</th>                    
                    </tr>
                  </thead>
                  <tbody></tbody>
                  <tfoot>
                    <tr>
                      <th>Razon Social</th>
                      <th>Cuit</th>
                      <th>Condicion IVA</th>
                      <th>Jurisdiccion</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            {% block botones %}            
            {% endblock %} 
    <!-- Main content -->        
          </div>
        </div>
      </div>
    </section>    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}