{% extends 'FrontendBundle::Default/base.html.twig' %}
{% block title %} Ventas{% endblock %}
{% block CSs %}
<link rel="stylesheet" href="{{ asset('public/Buttons-1.4.2/css/buttons.bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('public/responsive-2.2.0/css/responsive.bootstrap.min.css') }}">
<style>
 tbody tr:hover.active td,
  tbody tr:hover td {
    background-color: #A9D0F5;
    cursor: pointer;
  }               
  .table>tbody>tr.active>td {
    background-color: #A9D0F5;
    color: #000000;
    font:  bold Georgia 12px/18px;
  }
  tr.group,
              tr.group:hover {
                background-color: #ddd !important;
              }
  input.ui-autocomplete {
    z-index: 500;
  }
  #pos-nombre {
    display: block; 
    position:relative
  } 
  .ui-autocomplete {
    position: absolute;
  }
  .id-venta {
    display: none;
  }

  
@media  (max-width: 770px) {
    .dataTables_filter label{
   display: inline-flex;
   text-align: center !important;
  }   

    div.col-md-5.col-sm-12.col-xs-12.text-right {
          text-align: center !important;
    }  
 }

</style> 
{% endblock %}
{% block Scripts %}
 <!-- DataTables -->
<script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/responsive-2.2.0/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('public/responsive-2.2.0/js/responsive.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/JSZip-2.5.0/jszip.min.js') }}"></script>
<script src="{{ asset('public/pdfmake-0.1.32/pdfmake.min.js') }}"></script>
<script src="{{ asset('public/pdfmake-0.1.32/vfs_fonts.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.colVis.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script src="{{ asset('ratsoft/ratsoft.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<!-- <script src="{{ asset('') }}"></script>  --> 
<script>
  //con esto bloqueamos la pantalla cuando inicia alguna accion ajax..
  $(document).ajaxStart(function() {
            $.blockUI({ css: { 
                border: 'none', 
                padding: '15px', 
                backgroundColor: '#000', 
                '-webkit-border-radius': '10px', 
                '-moz-border-radius': '10px', 
                opacity: .5, 
                color: '#fff' 
            },message: 'Por Favor, espere...'})
        });
   
    
  $(document).ready(function() {
     //cuando termina la accion ajax, se desbloquea..
    $(document).ajaxStop(function() {
        $.unblockUI();     

    });

    window.arrayrespuesta = {{ respuesta|raw }};
    console.log(arrayrespuesta);
    window.idEmpresa = {{ empresa|raw }};
    console.log(idEmpresa);
      //cargamos los valores para el Combo Comprobantes que esta en el modal
    comboFill("/comprobantes","id","detalle","#comprobante");
    $.get("/comprobantes/tipos",function(resp,estado,jqXHR){
        var arrayResp = JSON.parse(resp);
        window.arrayTiposComp = arrayResp.data;
      });

    $('#tipoComprobante').change(function(){
      var option = $(this).find('option:selected').val();
      window.arrayTiposComp.forEach(function(item,index,arr){
        if(option == item.id){
          if(item.blk_total == 1){
            $("#total").removeAttr("disabled");
            $("#total").attr("disabled","true");
          }else{
            $("#total").removeAttr("disabled");
          }
          if(item.blk_exe == 1){
              $("#exento").removeAttr("disabled");
              $("#exento").attr("disabled","true");
          }else{
            $("#exento").removeAttr("disabled");
          }
          if(item.blk_iva == 1){
              $(".iva").removeAttr("disabled");
              $(".iva").attr("disabled","true");
          }else{
            $(".iva").removeAttr("disabled");
          }
          if(item.blk_netos == 1){
              $(".calcularIva").removeAttr("disabled");
              $(".calcularIva").attr("disabled","true");
          }else{
            $(".calcularIva").removeAttr("disabled");
          }
          if(item.blk_nograv == 1){
              $("#nogravado").removeAttr("disabled");
              $("#nogravado").attr("disabled","true");
          }else{
            $("#nogravado").removeAttr("disabled");
          }
          if(item.blk_perciibb == 1){
              $("retIibb").removeAttr("disabled");
              $("retIibb").attr("disabled","true");
          }else{
            $("retIibb").removeAttr("disabled");
          }
          if(item.blk_perciva == 1){
              $("#retIva").removeAttr("disabled");
              $("#retIva").attr("disabled","true");
          }else{
            $("#retIva").removeAttr("disabled");
          }
          if(item.blk_perciva == 1){
              $("#retGanancias").removeAttr("disabled");
              $("#retGanancias").attr("disabled","true");
          }else{
            $("#retGanancias").removeAttr("disabled");
          }
          if(item.autoiva == 1){
              window.autoiva=1
          }else{
              window.autoiva=0
          }
          if(item.autoneto == 1){
              window.autoneto=1
          }else{
              window.autoneto=0
          }
          if(item.autototal == 1){
              window.autototal=1
          }else{
              window.autototal=0
          }
          $('#exento').val('0');
          $('#neto105').val('0');
          $('#neto21').val('0');
          //$('#neto27').val('0');
          $('#iva105').val('0');
          $('#iva21').val('0');-
          //$('#iva27').val('0');
          $('#nogravado').val('0');
          $('#perc_iva').val('0');
          $('#perc_iibb').val('0');
          //$('#ret_ganancia').val('0');
          $('#total').val('0');

        }
      })
    });

    $("#addVenta").click(function(){
        //alert("entre");
        $("#modal-ventas").modal();
        $('#boton-new').css("display", "");
        $('#boton-edit').css("display", "none");
        $('#boton-del').css("display", "none");

        $("#modal-formulario").validate().resetForm(); //con esto se limpia los campos que agrega el validator
        $("#modal-formulario").find('.has-error').removeClass("has-error"); //limpia las clases has-error que pone los recuadros rojos
        $("#modal-formulario").find('.has-success').removeClass("has-success");//limpia los recuadros verdes de los datos correctos ingresados
        //Limpiamos el modal
        $('empresaID').val('');
        $("#fechaVenta").val('');
        $("#periodo").val('');
        $("#cuit").val('');
        $('#nombre').val('');
        $('#empresaID').val('');
        $('#iva').val('');
        $('#retGanancias').val('0');
        $('#retIva ').val('0');
        $('#retIibb').val('0');
        $('#comprobante').val('');
        $('#comprobanteNumero').val('');
        $('#jurisdiccion').val('');
        //con esto vaciamos el campo y en la siguiente linea cargado nuevamente el seleccionar disabled
        $('#tipoComprobante').empty();
        $('#tipoComprobante').prepend('<option disabled selected value>--Seleccionar--</option>');
         $('#rubro').empty();
        var opciones = "<option value='"+arrayrespuesta.empresa.rubro.id+"'>"+arrayrespuesta.empresa.rubro.nombre+"</option>";
        $('#rubro').prepend(opciones);
        $('#exento').val('0');
        $('#nogravado').val('0');
        $('#neto105').val('0');
        $('#neto21').val('0');
        $('#iva105').val('0');
        $('#iva21').val('0');
        $('#retGanancias').val('0');
        $('#total').val('0');
        $('#percepcion').val('0');
        
      });

    // Apartir de aca lo que hace el boron agregar para editar una compra
    $("#editVenta").click(function(){
      $("#modal-ventas").modal();
      $('#boton-new').css("display", "none");
      $('#boton-edit').css("display", "");
      $('#boton-del').css("display", "");
      $("#modal-formulario").validate().resetForm(); //con esto se limpia los campos que agrega el validator
      $("#modal-formulario").find('.has-error').removeClass("has-error"); //limpia las clases has-error que pone los recuadros rojos
      $("#modal-formulario").find('.has-success').removeClass("has-success");//limpia los recuadros verdes de los datos correctos 
      //cargamos el modal
      window.idVenta = window.table.$("tr.active").find(".id-venta").text();
      console.log(idVenta);
      console.log(arrayrespuesta);
        window.arrayrespuesta.data.forEach(function(item,index,arr){
          if (item.id == idVenta){
            console.log(item);
            $('div.modal-body div.form-group #periodo').val( item.periodo_ano + "-" + ("0" + item.periodo_mes).slice( -2 )); // hay que mandarlo en formato YYYY-MM
            var objFecha = new Date(item.fecha);
            var realFecha = new Date(objFecha.getTime() + 86400000);
            var fechaDia = realFecha.getDate();
            var fechaMes = realFecha.getMonth() + 1;
            var fechaAno = realFecha.getFullYear();
            $("#fechaVenta").val(fechaAno + "-" + ("0" + fechaMes).slice(-2) + "-" + ("0" + fechaDia).slice(-2));
            console.log(fechaAno + "-" + ("0" + fechaMes).slice(-2) + "-" + ("0" + fechaDia).slice(-2)); // hay que mandarlo en formato YYYY-MM-DD
            
            window.idProv = item.cliente.id;
            $("#cuit").val(item.cliente.cuit);
            $("#iva").val(item.cliente.iva.codigo);
            $("#jurisdiccion").val(item.cliente.jurisdiccion.nombre);
            $("#nombre").val(item.cliente.nombre);
            $("#comprobanteNumero").val(item.nro_comprobante);
            console.log(item.nro_comprobante);
            $("#comprobante").val(item.cod_comprobante.id);
            
            var option = item.cod_comprobante.id;
            var opciones = "<option value='' selected='selected'>--seleccionar--</option>";
            window.arrayTiposComp.forEach(function(item,index,arr){
              if(option == item.cod_comp.id){
                opciones = opciones + "<option value='"+item.id+"'>"+item.tipo_comp+"</option>";
              }
            });
            $("#tipoComprobante").html(opciones);
            $("#tipoComprobante").val(item.tipo_comprobante.id);
            $('#exento').val(item.neto_exento);
            $('#nogravado').val(item.nogravado);
            $('#neto105').val(item.neto105);
            $('#neto21').val(item.neto21);
            $('#iva105').val(item.iva105);
            $('#iva21').val(item.iva21);
            $('#retGanancias').val(item.ret_gan);
            $('#total').val(item.total);
            var opciones = "<option value='"+item.empresa.rubro.id+"'selected='selected'>"+item.empresa.rubro.nombre+"</option>";
            $('#rubro').prepend(opciones);
            $('#retIva').val(item.percepcion);
            $('#retIibb').val(item.retencion);
          }
        });
      });

    $("#boton-edit").on('click',function(){
     if ($("#modal-formulario").valid()){  
      var objFecha = new Date($('#fechaVenta').val());
      var realFecha = new Date(objFecha.getTime() + 86400000);
      var objPeriodo = new Date($('#periodo').val());
      var realPeriodo = new Date(objPeriodo.getTime() + 86400000);

      var periodoMes = realPeriodo.getMonth() + 1;
      var periodoAno = realPeriodo.getFullYear();

      var fechaDia = realFecha.getDate();
      var fechaMes = realFecha.getMonth() + 1;
      var fechaAno = realFecha.getFullYear();
      
      //realizo un post pasando la url correspondiente al backend, los datos previamente capturados y realizo la funcion correspondiente que me devolvera la respuesta.
            
      $.ajax({
        type: "POST",
        url: "/contable/ventas/" + window.idEmpresa + "/update",
        //async: false,
        data: {                  
            "periodo_mes" : ( "0" + periodoMes).slice( -2 ), 
            "periodo_ano" : periodoAno, 
            "fecha" : fechaAno + "-" + ( '0' + fechaMes).slice( -2 ) + "-" + ( '0' + fechaDia).slice( -2 ),
            "id_ventas": idVenta,
            "proveedor" : idProv,
            "cod_comprobante" : $('#comprobante').val(), 
            "nro_comprobante" : $('#comprobanteNumero').val(),
            "tipo_comprobante" : $('#tipoComprobante').val(),
            // "rubro" : $('#rubro').val(),
            "neto_105": $('#neto105').val(), 
            "neto_21": $('#neto21').val(),
            "neto_exento": $('#exento').val(),
            "nogravado": $('#nogravado').val(),
            "iva_105": $('#iva105').val(),
            "iva_21": $('#iva21').val(),
            //"ret_gan": $('#ret_ganancia').val(),
            "total": $('#total').val(),
            //ver
            "percepcion": $('#retIva ').val(),
            "retencion": $('#retIibb').val(),
            "ret_gan": $('#retGanancias').val(),
           },
        dataType: "json"
      })
      .done(function(respuesta){
        console.log(respuesta);
        if(respuesta.status == 'OK'){
          alert(respuesta.msg);
        }else{
          alert("ERROR \n Razon:" + respuesta.msg);
        }  
        $("#modal-ventas").modal('toggle');
        tableReload(respuesta.data);
        $('empresaID').val('');
        $("#fechaVenta").val('');
        $("#periodo").val('');
        $("#cuit").val('');
        $('#nombre').val('');
        $('#empresaID').val('');
        $('#iva').val('');
        $('#retGanancias').val('0');
        $('#retIva ').val('0');
        $('#retIibb').val('0');
        $('#comprobante').val('');
        $('#comprobanteNumero').val('');
        $('#jurisdiccion').val('');
        //con esto vaciamos el campo y en la siguiente linea cargado nuevamente el seleccionar disabled
        $('#tipoComprobante').empty();
        $('#tipoComprobante').prepend('<option disabled selected value>--Seleccionar--</option>');
        $('#rubro').empty();
        // var opciones = "<option value='' selected='selected'>--seleccionar--</option>";        
        //console.log(arrayrespuesta.empresa.rubro.nombre);
        //$('#rubro').prepend(opciones);
        $('#exento').val('0');
        $('#nogravado').val('0');
        $('#neto105').val('0');
        $('#neto21').val('0');
        $('#iva105').val('0');
        $('#iva21').val('0');
        //$('#ret_ganancia').val('0');
        $('#total').val('0');
        $('#percepcion').val('0');
      //deberiamos mostrar algun mensaje tanto como de error, como de que todo salio bien. y luego recargar la grilla para que aparezca la nueva empresa en la tabla.
      //alert(resp);
      });
    }
    });

    // A partir de aca lo que pasa cuando le damos al boton eliminar

    $("#boton-del").on("click",function(){

      $.ajax({
        type: "POST",
        url: "/contable/ventas/" + window.idEmpresa + "/del",
        //async: false,
        data: {"id_ventas": idVenta},
        dataType: "json"
      })
      .done(function(respuesta){
        console.log(respuesta);
        if(respuesta.status == 'OK'){
          alert(respuesta.msg);
        }else{
          alert("ERROR \n Razon:" + respuesta.msg);
        }  
        $("#modal-ventas").modal('toggle');
        tableReload(respuesta.data);
        $('empresaID').val('');
        $("#fechaVenta").val('');
        $("#periodo").val('');
        $("#cuit").val('');
        $('#nombre').val('');
        $('#empresaID').val('');
        $('#iva').val('');
        $('#retGanancias').val('0');
        $('#retIva ').val('0');
        $('#retIibb').val('0');
        $('#comprobante').val('');
        $('#comprobanteNumero').val('');
        $('#jurisdiccion').val('');
        //con esto vaciamos el campo y en la siguiente linea cargado nuevamente el seleccionar disabled
        $('#tipoComprobante').empty();
        $('#tipoComprobante').prepend('<option disabled selected value>--Seleccionar--</option>');
         $('#rubro').empty();
        // var opciones = "<option value='' selected='selected'>--seleccionar--</option>";
        
        //console.log(arrayrespuesta.empresa.rubro.nombre);
        //$('#rubro').prepend(opciones);
        $('#exento').val('0');
        $('#nogravado').val('0');
        $('#neto105').val('0');
        $('#neto21').val('0');
        $('#iva105').val('0');
        $('#iva21').val('0');
        //$('#ret_ganancia').val('0');
        $('#total').val('0');
        $('#percepcion').val('0');
      //deberiamos mostrar algun mensaje tanto como de error, como de que todo salio bien. y luego recargar la grilla para que aparezca la nueva empresa en la tabla.
      //alert(resp);
      });
    });


    /*window.arrayproveedores = new Array();

     $.ajax({
        type: "GET",
        url: "/proveedores",
        dataType: "json",
      })
      .done(function(respuesta){
        window.arrayproveedores = respuesta.data;
        window.source  = [ ];
        window.mapping = { };
        window.mappingCuit = { };
        for(var i = 0; i < window.arrayproveedores.length; ++i) {
          window.source.push(window.arrayproveedores[i].nombre);
          window.mapping[window.arrayproveedores[i].nombre] = window.arrayproveedores[i].id;
          window.mappingCuit[window.arrayproveedores[i].nombre] = window.arrayproveedores[i].cuit;
        }
      });*/

    //Preparamos el array que vamos a usar para los proveedores
    window.arrayproveedores = new Array();
    //sessionStorage.arrayProv = new Array();
    $.get("/proveedores/hash",function(resp,estado,jqXHR){
      var arrayResp = JSON.parse(resp);
      window.hashProv = arrayResp.hash;
      console.log(window.hashProv);
      console.log(parseInt(Cookies.get("hashProv"),10));
    })
    

    // Traemos la info de proveedores y lo metemos en el array luego armamos el mapping entre nombre y id de proveedor para poder usarlo en el ABM
    .done(function(){
      if ( sessionStorage.arrayproveedores === undefined || Cookies.get("hashProv") === undefined ||   parseInt(Cookies.get("hashProv"),10) !== window.hashProv ) {
        console.log("no se encontro la cookie")
          $.ajax({
          type: "GET",
          url: "/proveedores",
          dataType: "json",
          //async: false
        })
        .done(function(respuesta){
          window.arrayproveedores = respuesta.data;
          window.source  = [ ];
          window.mapping = { };
          window.mappingCuit = { };
          for(var i = 0; i < window.arrayproveedores.length; ++i) {
            window.source.push(window.arrayproveedores[i].nombre);
            window.mapping[window.arrayproveedores[i].nombre] = window.arrayproveedores[i].id;
            window.mappingCuit[window.arrayproveedores[i].nombre] = window.arrayproveedores[i].cuit;
          }
          var minutes = 120;
          var date = new Date();
          date.setTime(date.getTime() + (minutes * 60 * 1000));
          sessionStorage.arrayproveedores=JSON.stringify(window.arrayproveedores);
          Cookies.set("hashProv",hashProv);
        });
      }else{
        console.log("la encontré, es al pedo que la llame con ajax")
        arrayproveedores = JSON.parse(sessionStorage.arrayproveedores);
        window.source  = [ ];
        window.mapping = { };
        window.mappingCuit = { };
        for(var i = 0; i < window.arrayproveedores.length; ++i) {
          window.source.push(window.arrayproveedores[i].nombre);
          window.mapping[window.arrayproveedores[i].nombre] = window.arrayproveedores[i].id;
          window.mappingCuit[window.arrayproveedores[i].nombre] = window.arrayproveedores[i].cuit;
        }
      }
    });


      // Aplicamos el autocomplete al campo "Razon Social" del Modal
      $('#nombre').autocomplete({
        minLength: 3,
        //source: window.source,
        "source": function(request, response) {
          var results = $.ui.autocomplete.filter(window.source, request.term);
          response(results.slice(0, 10));},
        message: {
          noResult:'No se encontraron resultados.'
        },
        "select": function(event, ui) {
            window.idProv = window.mapping[ui.item.value];
            window.arrayproveedores.forEach(function(item,index,arr){
              if ( item.id == window.idProv) {
                $("#cuit").val(item.cuit);
                $("#iva").val(item.iva.codigo);
                $("#jurisdiccion").val(item.jurisdiccion.nombre);
              }
            });
        },
        //"appendTo": ".form-group",
        "appendTo": "#pos-nombre",
        //"position": { my : "bottom",  at: "top", collision: "none" },
      });
      // Esto es para que las opciones queden attacheadas al modal, sino no se ven.
      //$('#nombre').autocomplete( "option", "appendTo", ".form-group" );
      // Preparamos la lógica para que el combo de tipo de comprobante se llene automaticamente dependiendio el codigo de comprobante seleccionado.

      $('#comprobante').change(function(){
        var option = $(this).find('option:selected').val();
        var opciones = "<option value='' selected='selected'>--seleccionar--</option>";
        window.arrayTiposComp.forEach(function(item,index,arr){
          if(option == item.cod_comp.id){
            opciones = opciones + "<option value='"+item.id+"'>"+item.tipo_comp+"</option>";

          }
        })
        $("#tipoComprobante").html(opciones);
      });
    
    window.table = $('#tabla-ventas').DataTable({
                    dom: "<'row'<'col-sm-8 text-left'B><'col-sm-4 text-right'f>>" +"<'row'<'col-sm-12't>>" +"<'row'<'col-sm-5 text-left'i><'col-sm-7 text-right'p>>",
                    //configuramos la cantidad de datos que queremos que nos muestre el menu <lf<t>ip>
                    // "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                    // "<'row'<'col-sm-12'tr>>" +
                    // "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    "language": {
                        "sProcessing":     "Procesando...",
                        "sLengthMenu":     "Mostrar _MENU_ registros",
                        "sZeroRecords":    "No se encontraron resultados",
                        "sEmptyTable":     "Ningún dato disponible en esta tabla",
                        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix":    "",
                        "sSearch":         "Buscar:",
                        "sUrl":            "",
                        "sInfoThousands":  ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sLast":     "Último",
                            "sNext":     "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    },
                    lengthMenu: [
                        [ 10, 25, 50, -1 ],
                        [ '10 Filas', '25 Filas', '50 Filas', 'Todos' ]
                    ],
                    buttons: [
                                {
                                    extend: 'collection',
                                    text: 'Exportar',
                                    //elegis los formatos para exportar los datos de la tabla, colvis (va a servir para seleccionar que columnas queres q se vean o no), pagelenth para seleccionar la cantidad  datos mostrados 
                                    buttons: [ 'copy', 'excel', 'pdf', 'csv', 'print'] 
                                }, 'colvis', 'pageLength'
                              ],
                                    
                    "columnDefs": [ 
                                  //con esto podes setear que columnas queres aparezca o no
                                  //{ "visible": false, "targets": 3 },
                                  // { responsivePriority: 1, targets: 0 },
                                  // { responsivePriority: 2, targets: 0 },
                                  { targets: [0, 1, 2, 3, 4, 5, 6, 7, 8], visible: true},

                                  //{ targets: '_all', visible: false }
                                
                    ],
                    "responsive": true,   
                    retrieve: true,
                    fixedHeader: true,
                    data : window.arrayrespuesta.data,
                     "columns": [

                      {
                          "class":          "details-control",
                          "orderable":      false,
                          "data":           null,
                          "defaultContent": "",
                          // "width" : "2%"
                      },
                      { 
                        "data": "id",
                        "title": "ID",
                        "className": "id-venta"
                      },                       
                      { 
                        //Concateno periodo mes y año para armar el periodo.
                        "mData": null,
                        "mRender": function(data,type,full){
                          return full['periodo_mes']+'-'+full['periodo_ano'];
                          //"width = '10%"
                        },
                        "title": "Período"
                      },
                      { 
                        "data": "cliente.nombre",
                        "title": "Cliente"
                      },
                       { 
                        "data": "fecha",
                        "title": "Fecha",
                        "render":function (value) {
                            if (value === null) return "";
                            return moment(value).format('DD/MM/YYYY');
                           }
                      },
                      { 
                        "mData": null,
                        "mRender": function(data,type,full){
                          return full['cod_comprobante'].detalle+' '+full['tipo_comprobante'].tipo_comp;
                        },
                        "title": "Comprobante"
                      },
                      /*{ 
                        "data": "cod_comprobante.detalle",
                        "title": "Comprobante"
                      },
                      { 
                        "data": "tipo_comprobante.tipo_comp",
                        "title": "Tipo de Comprobante"
                      },*/
                      { 
                        "data": "nro_comprobante",
                        "title": "Número de Comprobante"
                      },
                      
                      { 
                        "data": "cliente.cuit",
                        "title": "C.U.I.T."
                      },                   
                      { 
                        "data": "cliente.jurisdiccion.nombre",
                        "title": "Jurisdiccion"
                      },                      
                      { 
                        "data": "total",
                        "title": "Total"
                      },   
                      { 
                        "data": "neto105",
                        "title": "Neto 10.5%",
                         className: 'none'
                      },
                      { 
                        "data": "neto21",
                        "title": "Neto 21%",
                         className: 'none'
                      },
                      { 
                        "data": "neto_exento",
                        "title": "Neto exento",
                         className: 'none'
                      },
                      { 
                        "data": "nogravado",
                        "title": "No Gravado",
                         className: 'none'
                      },
                      { 
                        "data": "iva105",
                        "title": "IVA 10.5%",
                         className: 'none'
                      },
                      { 
                        "data": "iva21",
                        "title": "IVA 21%",
                         className: 'none'
                      },
                      { 
                        "data": "ret_gan",
                        "title": "Retenciones de Ganancias",
                         className: 'none'
                      },                          
                      { 
                        "data": "retencion",
                        "title": "Retencion",
                         className: 'none'
                      },
                      { 
                        "data": "percepcion",
                        "title": "Percepcion", 
                        className: 'none'
                      },             
                       ]
                  }); 
    table.buttons().container().appendTo( '#tabla-ventas .col-sm-6:eq(0)' );                 
    var tableReload = function(datosnuevos){
      //console.log(datosnuevos);
      //console.log("mostra algo hijo de re mil putas")
      window.arrayrespuesta.data = datosnuevos;
      console.log(datosnuevos);
      console.log(window.arrayrespuesta);
      $('#tabla-ventas').DataTable().clear().draw();
      $('#tabla-ventas').DataTable().rows.add(datosnuevos).draw();
      };                 

    $('#tabla-ventas tbody').on('click', 'tr', function () {
      if ( $(this).hasClass('active') ) {
        $(this).removeClass('active');
      }
      else {
        window.table.$('tr.active').removeClass('active');
        $(this).addClass('active');
      }
    });
    
    $("#boton-new").on('click',function(){
      if ($("#modal-formulario").valid()){  
        var objFecha = new Date($('#fechaVenta').val());
        var realFecha = new Date(objFecha.getTime() + 86400000);
        var objPeriodo = new Date($('#periodo').val());
        var realPeriodo = new Date(objPeriodo.getTime() + 86400000);

        var periodoMes = realPeriodo.getMonth() + 1;
        var periodoAno = realPeriodo.getFullYear();

        var fechaDia = realFecha.getDate();
        var fechaMes = realFecha.getMonth() + 1;
        var fechaAno = realFecha.getFullYear();
        
        //realizo un post pasando la url correspondiente al backend, los datos previamente capturados y realizo la funcion correspondiente que me devolvera la respuesta.
        
        $.ajax({
          type: "POST",
          url: "/contable/ventas/" + window.idEmpresa + "/new",
          async: false,
          data: {                  
            "periodo_mes" : ( "0" + periodoMes).slice( -2 ), 
            "periodo_ano" : periodoAno, 
            "fecha" : fechaAno + "-" + ( '0' + fechaMes).slice( -2 ) + "-" + ( '0' + fechaDia).slice( -2 ),
            "proveedor" : idProv,
            "cod_comprobante" : $('#comprobante').val(), 
            "nro_comprobante" : $('#comprobanteNumero').val(),
            "tipo_comprobante" : $('#tipoComprobante').val(),
            // "rubro" : $('#rubro').val(),
            "neto_105": $('#neto105').val(), 
            "neto_21": $('#neto21').val(),
            "neto_exento": $('#exento').val(),
            "nogravado": $('#nogravado').val(),
            "iva_105": $('#iva105').val(),
            "iva_21": $('#iva21').val(),
            //"ret_gan": $('#ret_ganancia').val(),
            "total": $('#total').val(),
            //ver
            "percepcion": $('#retIva ').val(),
            "retencion": $('#retIibb').val(),
            "ret_gan": $('#retGanancias').val(),
            

             },
          dataType: "json"
        })
        .done(function(respuesta){
          console.log(respuesta);
          if(respuesta.status == 'OK'){
            alert(respuesta.msg);
          }else{
            alert("ERROR \n Razon:" + respuesta.msg);
          } 
          //$("#modal-ventas").modal('toggle');
          tableReload(respuesta.data);
          $('empresaID').val('');
          $("#fechaVenta").val('');
          //$("#periodo").val('');
          $("#cuit").val('');
          $('#nombre').val('');
          $('#empresaID').val('');
          $('#iva').val('');
          $('#jurisdiccion').val('');
          $('#retGanancias').val('0');
          $('#retIva ').val('0');
          $('#retIibb').val('0');
          $('#comprobante').val('');
          

          //preparamos el próximo número de comprobante
          /*
          var numero = $('#comprobanteNumero').val().split('-');
          var longitud = numero[1].length;
          var proximo = parseFloat(numero[1]) + 1;
          var proximoStr = new String();
          proximoStr = String(proximo);
          var proximoLong = proximoStr.length;
          var j = parseFloat("8") - parseFloat(proximoLong);
          var i = 0;
          var ceros = '';
          while ( i < j ){
            ceros = ceros + "0";
            i++;
          }
          proximoStr = ceros + proximoStr;
          var proximoCompleto = numero[0] + "-" + proximoStr;
          $('#comprobanteNumero').val(proximoCompleto);
          */
          

          $('#comprobanteNumero').val('');
          //con esto vaciamos el campo y en la siguiente linea cargado nuevamente el seleccionar disabled
          $('#tipoComprobante').empty();
          $('#tipoComprobante').prepend('<option disabled selected value>--Seleccionar--</option>');
          $('#rubro').empty();
          $('#rubro').prepend('<option disabled selected value>--Seleccionar--</option>');
          $('#exento').val('0');
          $('#nogravado').val('0');
          $('#neto105').val('0');
          $('#neto21').val('0');
          $('#iva105').val('0');
          $('#iva21').val('0');
          //$('#ret_ganancia').val('0');
          $('#total').val('0');
          $('#percepcion').val('0');
        //deberiamos mostrar algun mensaje tanto como de error, como de que todo salio bien. y luego recargar la grilla para que aparezca la nueva empresa en la tabla.
        //alert(resp);
        });
      }
    });

        $("#modal-formulario").validate({
          rules: {
              fechaCompra: { 
                required: true,
                //minlength: 3
              },
              periodo: { 
                required: true,
                //minlength: 3
              },
              nombre: { 
                required: true,
                //minlength: 3
              },
              cuit: { 
                required: true,
                //minlength: 3
              },
              comprobante: { 
                required: true
                //minlength: 3
              },
              comprobanteNumero: { 
                required: true
                //minlength: 3
              },
              tipoComprobante: { 
                required: true,
                //cuit: true
              },
              rubro: { 
                required: true
                //minlength: 3
              },
              exento: { 
                required: true,
                //minlength: 3
              },
              nogravado: { 
                required: true,
                //minlength: 3
              },
              neto105: { 
                required: true,
                //minlength: 3
              },
              neto21: { 
                required: true,
                //minlength: 3
              },
              iva105: { 
                required: true
                //minlength: 3
              },
              iva21: { 
                required: true
                //minlength: 3
              },
              retGanancias: { 
                required: true
                //minlength: 3
              },
              total: { 
                required: true,
                //minlength: 3
              },
              percepcion: { 
                required: true,
                //minlength: 3
              },             
          },
          messages: {
              fechaCompra: { 
                required: "Este campo es requerido",
                //minlength: 3
              },
              periodo: { 
                required: "Este campo es requerido",
                //minlength: 3
              },
               nombre: { 
                required: "Este campo es requerido",
                //minlength: 3
              },
              cuit: { 
                required: "Este campo es requerido",
                //minlength: 3
              },
              comprobante: { 
                required: "Este campo es requerido",                
                //minlength: 3
              },
              comprobanteNumero: { 
                required: "Este campo es requerido",                
                //minlength: 3
              },
              tipoComprobante: { 
                required: "Este campo es requerido",
                //cuit: true
              },
              rubro: { 
                required: "Este campo es requerido",                
                //minlength: 3
              },
              exento: { 
                 required: "Este campo es requerido",
                //minlength: 3
              },
              nogravado: { 
                 required: "Este campo es requerido",
                //minlength: 3
              },
              neto105: { 
                 required: "Este campo es requerido",
                //minlength: 3
              },
              neto21: { 
                 required: "Este campo es requerido",
                //minlength: 3
              },
              iva105: { 
                 required: "Este campo es requerido",                
                //minlength: 3
              },
              iva21: { 
                 required: "Este campo es requerido",               
                //minlength: 3
              },
              retGanancias: { 
                 required: "Este campo es requerido",               
                //minlength: 3
              },
              total: { 
                required: "Este campo es requerido",
                //minlength: 3
              },
              percepcion: { 
                required: "Este campo es requerido",
                //minlength: 3
              },             
          },
          highlight: function(element) {
              $(element).closest('.form-group').addClass('has-error');
              //$(element).addClass('has-error fa fa-times');
          },
          unhighlight: function(element) {
              $(element).closest('.form-group').removeClass('has-error');
              //$(element).('.input-sm').removeClass('glyphicon-remove');
          },
          errorElement: 'span',
          errorClass: 'help-block',
          errorPlacement: function(error, element) {
              if(element.parent('.input-group').length) {
                  error.insertAfter(element.parent());
              } else {
                  error.insertAfter(element);
              }
          }           
      });
      $(".calcularIva").on("change",function(){
        if(window.autoiva==1){
          console.log("autoiva");
          var iva105 = parseFloat($('#neto105').val()) * parseFloat("0.105");
          $("#iva105").val(iva105);
          var iva21 = parseFloat($('#neto21').val()) * parseFloat("0.21");
          $("#iva21").val(iva21);
          //var iva27 = parseFloat($('#neto27').val()) * parseFloat("0.27");
          //$("#iva27").val(iva27);
        }
      });

      $(".calculado").on("change",function(){
        if(window.autototal==1){
          console.log("autototal");
          var comprasTotal = 
            parseFloat($('#exento').val()) +
            parseFloat($('#neto105').val()) +
            parseFloat($('#neto21').val()) +
            //parseFloat($('#neto27').val()) +
            parseFloat($('#iva105').val()) +
            parseFloat($('#iva21').val()) +
            //parseFloat($('#iva27').val()) +
            parseFloat($('#nogravado').val()) +
            parseFloat($('#retIva').val()) +
            parseFloat($('#retIibb').val()) +
            parseFloat($('#retGanancias').val());
          $('#total').val(comprasTotal);
        }else{
          console.log("no entre en el fuckin IF");
        }
      });

      $("#total").on("change",function(){
        if(window.autoneto==1){
          console.log("autoneto"); 
          var neto21calc = parseFloat($("#total").val()) / parseFloat("1.21");
          var iva21calc = neto21calc * parseFloat("0.21");
          $('#neto105').val('0');
          $('#neto21').val('0');
          //$('#neto27').val('0');
          $('#iva105').val('0');
          $('#iva21').val('0');
          //$('#iva27').val('0');
          $('#nogravado').val('0');
          $('#perc_iva').val('0');
          $('#perc_iibb').val('0');
          $('#retGanancias').val('0');
          $('#exento').val('0');
          $("#neto21").val(neto21calc.toFixed(2));
          $("#iva21").val(iva21calc.toFixed(2));
        }else{
          console.log("no entre en el fuckin IF");
        }
      });

  });  
function goBack() {
    window.history.back();
}
                             
                
</script>

{% endblock %}
{% block body %}
  <!-- ACA EMPIEZO A TRABAJAR LA INTERFAZ Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
       <h2>
        Ventas
        <small>Buscador</small>
      </h2>
      <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home"></i> home</a></li>
        <li><a href="/contable"><i class="fa fa-calculator"></i> contable</a></li>
        <li class="active"><i class="fa fa-search"></i>Buscador de ventas</li>
      </ol>
    </section> 
    <section class="content">
      <!-- Small boxes (Stat box) -->                                                          
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% block botones %}            
            {% endblock %} 
            <!-- Main content -->        
          </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Busque la factura deseada..</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="tabla-ventas" class="table table-bordered table-striped table-hover dt-responsive" width="98%"> 
                  <tbody>
                  </tbody>
                </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>        
      </div>
    </section>    
    <!-- /.content -->
  </div>

<div class="modal fade" id="modal-ventas" tabindex="-1" role="dialog" aria-labelledby="modalProveedores">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form id="modal-formulario"> 
        <div class="modal-header">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <h4 class="modal-title" id="modalProveedores">Datos del comprobante </h4>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <h4 class="modal-title" id="modalProveedores">Importes: </h4>
            </div>   
          </div>             
        </div>
        <div class="modal-body">
          <div class="box-body">
            <div class="col-md-6 col-sm-12 col-xs-12">          
              <div class="form-group">
                <label for="periodo">Período: </label>                    
                <input type="month" class="form-control input-sm" id="periodo" name="periodo" />
              </div>            
              <div class="form-group">
                <label for="fechaVenta">Fecha de venta: </label>                    
                <input type="date" class="form-control input-sm" id="fechaVenta" name="fechaVenta" />
              </div>
              <div class="form-group">
                <label for="cuit">Cuit: </label>
                <input type="text" required="true" class="form-control input-sm" id="cuit" name="cuit" disabled="true" />   
              </div>
              <div class="form-group">
                <label for="nombre">Razón social: </label>
                <div class="input-group">
                  <input type="text" required="true" class="form-control input-sm" id="nombre" name="nombre" />
                  <div id="pos-nombre"></div>
                  <span class="input-group-btn" style="padding-left: 15px">
                    <button type="button" class="btn btn-default" id="addEmpresa">Agregar</button>
                  </span>
                </div> 
              </div>                  
              <div class="form-group" style="display: none">
                <label for="empresaID">ID: </label>
                <input type="number" required="true" class="form-control input-sm" id="empresaID" name="empresaID" disabled="true"  />
              </div>
              <div class="form-group">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="col-xs-12" style="padding-left: 0px">
                     <label for="comprobante">Comprobante: </label>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12  input-sm">                             
                    <select name="comprobante" id="comprobante" required="true" class="selectpicker dropdown-toggle form-control input-sm" type="button" data-toggle="dropdown">
                      <option disabled selected value>--Seleccione una opcion--</option>  
                    </select>
                  </div>     
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px">
                     <label for="tipoComprobante">Tipo Comprobante: </label>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12  input-sm">                             
                    <select name="tipoComprobante" id="tipoComprobante" required="true" class="selectpicker dropdown-toggle form-control input-sm" type="button" data-toggle="dropdown">
                      <option disabled selected value>--Seleccione una opcion--</option>  
                    </select>
                  </div>
                </div>
              &nbsp
              &nbsp
              &nbsp
              &nbsp     
              </div>

              <div class="form-group">
                <label for="comprobanteNumero">Nro. de Comprobante: </label>                    
                <input type="text" class="form-control input-sm" id="comprobanteNumero" name="comprobanteNumero" />
              </div>          
              <div class="form-group">
                <label for="situacionIVACompleto">Situacion IVA: </label>
                <input type="text" class="form-control input-sm" id="iva" name="situacionIVACompleto" disabled="true" /> 
              </div>
              <div class="form-group">
                <label for="jurisdiccion">Jurisdiccion: </label>                    
                <input type="text" class="form-control input-sm" id="jurisdiccion" name="jurisdiccion" disabled="true"/>
              </div> 
              <div class="form-group">
                <label for="rubro">Rubro: </label>
                <div class="col-xs-12  input-sm">                             
                  <select name="rubro" id="rubro" required="true" class="selectpicker dropdown-toggle form-control input-sm" type="button" data-toggle="dropdown">
                    <option disabled selected value>--Seleccione una opcion--</option>  
                  </select>
                </div>                    
              </div>
              &nbsp                        
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">            
              <div class="form-group">
                <label for="exento">Exento :</label>                    
                <input type="text" class="form-control input-sm calculado" id="exento" name="exento" />
              </div>
               <div class="form-group">
                <label for="nogravado">No Gravado :</label>                    
                <input type="text" class="form-control input-sm calculado" id="nogravado" name="nogravado" />
              </div>          
              <div class="form-group">
                <label for="neto105">Neto al 10,5% :</label>                    
                <input type="text" class="form-control input-sm calculado calcularIva" id="neto105" name="neto105" />
              </div>
              <div class="form-group">
                <label for="neto21">Neto al 21% :</label>                    
                <input type="text" class="form-control input-sm calculado calcularIva" id="neto21" name="neto21" />
              </div>
              <div class="form-group">
                <label for="iva105">IVA 10,5%: </label>                    
                <input type="text" class="form-control input-sm calculado iva" id="iva105" name="iva105" />
              </div>
              <div class="form-group">
                <label for="iva21">IVA 21% : </label>                    
                <input type="text" class="form-control input-sm calculado iva" id="iva21" name="iva21" />
              </div>
              <div class="form-group">
                <label for="retGanancias">Ret Ganancias : </label>                    
                <input type="text" class="form-control input-sm calculado" id="retGanancias" name="retGanancias" />
              </div>
              <div class="form-group">
                <label for="retIva">Ret IVA: </label>                    
                <input type="text" class="form-control input-sm calculado" id="retIva" name="retIva" />
              </div>
              <div class="form-group">
                <label for="retIibb">Ret IIBB: </label>                    
                <input type="text" class="form-control input-sm calculado" id="retIibb" name="retIibb" />
              </div>
              <div class="form-group">
                <label for="total">Total: </label>                    
                <input type="text" class="form-control input-sm calculado" id="total" name="total" />
              </div>
            </div>                    
          </div>      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success" onclick="return false" id="boton-new" style="display: none">Agregar</button>
        <button type="submit" class="btn btn-success" onclick="return false" id="boton-edit" style="display: none">Guardar</button>
        <button type="submit" class="btn btn-danger pull-left" onclick="return false" id="boton-del" style="display: none">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>
  <!-- /.content-wrapper -->
{% include 'FrontendBundle::Empresas/modal-razonsocial.html.twig' %}
{% endblock %}