{% extends 'FrontendBundle::Informes/informes-listado.html.twig' %}
{% block title %} Informes{% endblock %}
{% block CSs %}
<link rel="stylesheet" href="{{ asset('public/Buttons-1.4.2/css/buttons.bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('public/responsive-2.2.0/css/responsive.bootstrap.min.css') }}">
<style>
 tbody tr:hover.active td,
  tbody tr:hover td {
    background-color: #A9D0F5;
    cursor: pointer;
  }               
  .table>tbody>tr.active>td {
    background-color: #A9D0F5;
    color: #000000;
    font:  bold Georgia 12px/18px;
  }
  tr.group,
              tr.group:hover {
                background-color: #ddd !important;
              }
@media  (max-width: 770px) {
    .dataTables_filter label{
   display: inline-flex;
   text-align: center !important;
  }   

    div.col-md-5.col-sm-12.col-xs-12.text-right {
          text-align: center !important;
    }
    .renglon{
      margin: 0px !important;
    }
    .form-group{
      margin: 0px !important;
    }
 }
</style> 
{% endblock %}
{% block Scripts %}
 <!-- DataTables -->
<script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/responsive-2.2.0/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('public/responsive-2.2.0/js/responsive.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/JSZip-2.5.0/jszip.min.js') }}"></script>
<script src="{{ asset('public/pdfmake-0.1.32/pdfmake.min.js') }}"></script>
<script src="{{ asset('public/pdfmake-0.1.32/vfs_fonts.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.colVis.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script src="{{ asset('ratsoft/ratsoft.js') }}"></script>
<script src="{{ asset('ratsoft/informes-listado.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<!-- <script src="{{ asset('') }}"></script>  --> 

{% endblock %}
{% block botones %}
<div class="text-center">
   <div class="form-group">
      <div class="col-xs-12">
        <button class="btn btn-default btn-block"  onclick="goBack()"> Volver</button>
      </div>
    </div> 
    <br> 
  <div class="renglon" style="margin: 25px"></div>
  <div class="form-group">
    <!-- <div class="col-md-6">
      <a id="cpp"><button class="btn btn-primary btn-block" id="ComprasPorPerido">Compras Por Periodo</button></a>
    </div>
    <div class="col-md-6">
      <a id="vpp"><button class="btn btn-primary btn-block" id="VentasPorPeriodo">Ventas Por Periodo</button></a>
    </div> -->
    <div class="col-md-12">
      <a id="vpp"><button class="btn btn-primary btn-block" id="VentasPorPeriodo">Ventas Por Periodo</button></a>
    </div>
  </div>
  <br> 
  <div class="renglon" style="margin: 25px"></div>
  <!-- <div class="form-group">
    <div class="col-md-6">
      <a id="cpi"><button class="btn btn-primary btn-block" id="ComprasPorImputacion">Compras Por Imputacion</button></a>
    </div>
    <div class="col-md-6">
      <a id="va"><button class="btn btn-primary btn-block" id="VentasAnuales">Ventas Anuales</button></a>
    </div>
    <div class="col-md-12">
      <a id="va"><button class="btn btn-primary btn-block" id="VentasAnuales">Ventas Anuales</button></a>
    </div>
  </div>
  <br> 
  <div class="renglon" style="margin: 25px"></div> -->
  <div class="form-group">
    <!-- <div class="col-md-6">
      <a id="cpj"><button class="btn btn-primary btn-block" id="ComprasPorJurisdiccion">Compras Por Jurisdiccion</button></a>
    </div>
    <div class="col-md-6">
      <a id="vpj"><button class="btn btn-primary btn-block" id="VentasPorJurisdiccion">Ventas Por Jurisdiccion</button></a>
    </div> -->
    <div class="col-md-12">
      <a id="vpj"><button class="btn btn-primary btn-block" id="VentasPorJurisdiccion">Ventas Por Jurisdiccion</button></a>
    </div> 
  </div>
  <br>   
  <!-- <div class="renglon" style="margin: 25px"></div> -->
  <!-- <div class="form-group">
    <div class="col-md-6">
      <a id="cpprov"><button class="btn btn-primary btn-block" id="ComprasPorProveedor">Compras Por Proveedor</button></a>
    </div>
    <div class="col-md-6">
      <a id="vpcli"><button class="btn btn-primary btn-block" id="VentasPorCliente">Ventas Por Cliente</button></a>
    </div>
    <div class="col-md-12">
      <a id="vpcli"><button class="btn btn-primary btn-block" id="VentasPorCliente">Ventas Por Cliente</button></a>
    </div>
  </div>
  <br>  -->
  <!-- <div class="renglon" style="margin: 25px"></div> -->
  <!-- <div class="form-group">
    <div class="col-md-6">
      <a id="cpco"><button class="btn btn-primary btn-block" id="ComprasPorComprobante">Compras Por Comprobante</button></a>
    </div>
    <div class="col-md-6">
      <a id="vpco"><button class="btn btn-primary btn-block" id="VentasPorComprobante">Ventas Por Comprobante</button></a>
    </div>
    <div class="col-md-12">
      <a id="vpco"><button class="btn btn-primary btn-block" id="VentasPorComprobante">Ventas Por Comprobante</button></a>
    </div> 
  </div>
  <br> -->
  <div class="renglon" style="margin: 25px"></div> 
  <div class="form-group">
   <!--  <div class="col-md-6">
      <a id="cpf"><button class="btn btn-primary btn-block" id="ComprasPorFecha">Compras Por Fecha</button></a>
    </div>
    <div class="col-md-6">
      <a id="vpf"><button class="btn btn-primary btn-block" id="VentasPorFecha">Ventas Por Fecha</button></a>
     </div> -->
     <div class="col-md-12">
      <a id="vpf"><button class="btn btn-primary btn-block" id="VentasPorFecha">Ventas Por Fecha</button></a>
     </div>
  </div>
  <br> 
  <div class="renglon" style="margin: 25px"></div>
  <!-- <div class="form-group">
    <div class="col-md-6">
      <a id="cpers"><button class="btn btn-primary btn-block" id="ComprasPersonalizado">Compras Personalizado</button></a>
    </div>
    <div class="col-md-6">
      <a id="vpers"><button class="btn btn-primary btn-block" id="VentasPersonalizado">Ventas Personalizado</button></a>
    </div>
    <div class="col-md-12">
      <a id="vpers"><button class="btn btn-primary btn-block" id="VentasPersonalizado">Ventas Personalizado</button></a>
    </div>
  </div>  -->       
</div>
{% endblock %}
