{% extends 'FrontendBundle::Default/base.html.twig' %}
{% block title %} Compras{% endblock %}
{% block CSs %}
<link rel="stylesheet" href="{{ asset('public/Buttons-1.4.2/css/buttons.bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('public/responsive-2.2.0/css/responsive.bootstrap.min.css') }}">
<style>
  /*table { width: 50% }*/
  tbody tr:hover.active td,
  tbody tr:hover td {
    background-color: #A9D0F5;
    cursor: pointer;
  }               
  .table>tbody>tr.active>td {
    background-color: #A9D0F5;
    color: #000000;
    font:  bold Georgia 12px/18px;
  }
  tr.group,
              tr.group:hover {
                background-color: #ddd !important;
              }
  input.ui-autocomplete {
    z-index: 500;
  }
  #pos-nombre {
    display: block; 
    position:relative
  } 
  .ui-autocomplete {
    position: absolute;
  }
</style> 
{% endblock %}
{% block Scripts %}
 <!-- DataTables -->
<script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/responsive-2.2.0/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('public/responsive-2.2.0/js/responsive.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/JSZip-2.5.0/jszip.min.js') }}"></script>
<script src="{{ asset('public/pdfmake-0.1.32/pdfmake.min.js') }}"></script>
<script src="{{ asset('public/pdfmake-0.1.32/vfs_fonts.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.colVis.min.js') }}"></script> 
<script src="{{ asset('ratsoft/ratsoft.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script src="{{ asset('js-cookie/src/js.cookie.js') }}"></script>
<!-- <script src="{{ asset('') }}"></script>  --> 
<script>
  //con esto bloqueamos la pantalla cuando inicia alguna accion ajax..
  $(document).ajaxStart(function() {
            $.blockUI({ css: { 
                border: 'none', 
                padding: '15px', 
                backgroundColor: '#000', 
                '-webkit-border-radius': '10px', 
                '-moz-border-radius': '10px', 
                opacity: .5, 
                color: '#fff' 
            },message: 'Por Favor, espere...'})
        }); 
  $(document).ready(function() {
     //cuando termina la accion ajax, se desbloquea..
    $(document).ajaxStop(function() {
        $.unblockUI();
    });
    //cargamos los valores para el Combo Comprobantes que esta en el modal
    comboFill("/comprobantes","id","detalle","#comprobante");
    $.get("/comprobantes/tipos",function(resp,estado,jqXHR){
        var arrayResp = JSON.parse(resp);
        window.arrayTiposComp = arrayResp.data;
        console.log(arrayTiposComp);
    });

    $.get("/imputaciones/prov",function(resp,estado,jqXHR){
        var arrayResp = JSON.parse(resp);
        window.arrayImputProv = arrayResp.data;
    });
    $("#addCompra").click(function(){
      $("#tablaDeProveedores").modal();
    });  
  //});
    //recuperamos el array desde el controller

    //Preparamos el array que vamos a usar para los proveedores
    window.arrayproveedores = new Array();
    //sessionStorage.arrayProv = new Array();
    $.get("/proveedores/hash",function(resp,estado,jqXHR){
      var arrayResp = JSON.parse(resp);
      window.hashProv = arrayResp.hash;
    })
    

    // Traemos la info de proveedores y lo metemos en el array luego armamos el mapping entre nombre y id de proveedor para poder usarlo en el ABM
    .done(function(){
      if ( sessionStorage.arrayproveedores === undefined || Cookies.get("hashProv") === undefined ||   parseInt(Cookies.get("hashProv"),10) !== window.hashProv ) {
        console.log("no se encontro la cookie")
          $.ajax({
          type: "GET",
          url: "/proveedores",
          dataType: "json",
          //async: false
        })
        .done(function(respuesta){
          window.arrayproveedores = respuesta.data;
          window.source  = [ ];
          window.mapping = { };
          window.mappingCuit = { };
          for(var i = 0; i < window.arrayproveedores.length; ++i) {
            window.source.push(window.arrayproveedores[i].nombre);
            window.mapping[window.arrayproveedores[i].nombre] = window.arrayproveedores[i].id;
            window.mappingCuit[window.arrayproveedores[i].nombre] = window.arrayproveedores[i].cuit;
          }
          var minutes = 120;
          var date = new Date();
          date.setTime(date.getTime() + (minutes * 60 * 1000));
          sessionStorage.arrayproveedores=JSON.stringify(window.arrayproveedores);
          Cookies.set("hashProv",hashProv);
        });
      }else{
        console.log("la encontré, es al pedo que la llame con ajax")
        arrayproveedores = JSON.parse(sessionStorage.arrayproveedores);
        window.source  = [ ];
        window.mapping = { };
        window.mappingCuit = { };
        for(var i = 0; i < window.arrayproveedores.length; ++i) {
          window.source.push(window.arrayproveedores[i].nombre);
          window.mapping[window.arrayproveedores[i].nombre] = window.arrayproveedores[i].id;
          window.mappingCuit[window.arrayproveedores[i].nombre] = window.arrayproveedores[i].cuit;
        }
      }
    });
    window.arrayrespuesta = {{ respuesta|raw }};
    console.log(arrayrespuesta);
    window.idEmpresa = {{ empresa|raw }};

    
    


    // Aplicamos el autocomplete al campo "Razon Social" del Modal
    $('#nombre').autocomplete({
      minLength: 3,
      //source: window.source,
      "source": function(request, response) {
        var results = $.ui.autocomplete.filter(window.source, request.term);

        response(results.slice(0, 10));},
      message: {
        noResult:'No search results.'
      },
      "select": function(event, ui) {
          window.idProv = window.mapping[ui.item.value];
          window.arrayproveedores.forEach(function(item,index,arr){
            if ( item.id == window.idProv) {
              $("#cuit").val(item.cuit);
              $("#iva").val(item.iva.codigo);
              $("#jurisdiccion").val(item.jurisdiccion.nombre);
            }
          });
          var option = window.idProv;
          var opciones = "<option value='' selected='selected'>--seleccionar--</option>";
          window.arrayImputProv.forEach(function(item,index,arr){
            if(option == item.id_prov){
              opciones = opciones + "<option value='"+item.id_imp.id+"'>"+item.id_imp.nombre+"</option>";
            }
          });
          $("#imputacion").html(opciones);
      },
      //"appendTo": ".form-group",
      "appendTo": "#pos-nombre",
      //"position": { my : "bottom",  at: "top", collision: "none" },
    });
    // Esto es para que las opciones queden attacheadas al modal, sino no se ven.
    //$('#nombre').autocomplete( "option", "appendTo", ".form-group" );
    // Preparamos la lógica para que el combo de tipo de comprobante se llene automaticamente dependiendio el codigo de comprobante seleccionado.

    $('#comprobante').change(function(){
      var option = $(this).find('option:selected').val();
      var opciones = "<option value='' selected='selected'>--seleccionar--</option>";
      window.arrayTiposComp.forEach(function(item,index,arr){
        if(option == item.cod_comp.id){
          opciones = opciones + "<option value='"+item.id+"'>"+item.tipo_comp+"</option>";

        }
      })
      $("#tipoComprobante").html(opciones);

    });

    $('#tipoComprobante').change(function(){
      var option = $(this).find('option:selected').val();
      window.arrayTiposComp.forEach(function(item,index,arr){
        if(option == item.id){
          if(item.blk_total == 1){
            $("#total").removeAttr("disabled");
            $("#total").attr("disabled","true");
          }else{
            $("#total").removeAttr("disabled");
          }
          if(item.blk_exe == 1){
              $("#exento").removeAttr("disabled");
              $("#exento").attr("disabled","true");
          }else{
            $("#exento").removeAttr("disabled");
          }
          if(item.blk_iva == 1){
              $(".iva").removeAttr("disabled");
              $(".iva").attr("disabled","true");
          }else{
            $(".iva").removeAttr("disabled");
          }
          if(item.blk_netos == 1){
              $(".calcularIva").removeAttr("disabled");
              $(".calcularIva").attr("disabled","true");
          }else{
            $(".calcularIva").removeAttr("disabled");
          }
          if(item.blk_nograv == 1){
              $("#nogravado").removeAttr("disabled");
              $("#nogravado").attr("disabled","true");
          }else{
            $("#nogravado").removeAttr("disabled");
          }
          if(item.blk_perciibb == 1){
              $("perc_iibb").removeAttr("disabled");
              $("perc_iibb").attr("disabled","true");
          }else{
            $("perc_iibb").removeAttr("disabled");
          }
          if(item.blk_perciva == 1){
              $("#perc_iibb").removeAttr("disabled");
              $("#perc_iibb").attr("disabled","true");
          }else{
            $("#perc_iibb").removeAttr("disabled");
          }
        }
      })
    });
    
    //Llenamos el datatable con el array que trajimos del controller

    window.table = $('#tabla-compras').DataTable({
                    dom: "<'row'<'col-sm-8 text-left'B><'col-sm-4 text-right'f>>" +"<'row'<'col-sm-12't>>" +"<'row'<'col-sm-5 text-left'i><'col-sm-7 text-right'p>>",
                    //configuramos la cantidad de datos que queremos que nos muestre el menu <lf<t>ip>
                    // "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                    // "<'row'<'col-sm-12'tr>>" +
                    // "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    "language": {
                        "sProcessing":     "Procesando...",
                        "sLengthMenu":     "Mostrar _MENU_ registros",
                        "sZeroRecords":    "No se encontraron resultados",
                        "sEmptyTable":     "Ningún dato disponible en esta tabla",
                        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix":    "",
                        "sSearch":         "Buscar:",
                        "sUrl":            "",
                        "sInfoThousands":  ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sLast":     "Último",
                            "sNext":     "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    },
                    lengthMenu: [
                        [ 10, 25, 50, -1 ],
                        [ '10 Filas', '25 Filas', '50 Filas', 'Todos' ]
                    ],
                    buttons: [
                                {
                                    extend: 'collection',
                                    text: 'Exportar',
                                    //elegis los formatos para exportar los datos de la tabla, colvis (va a servir para seleccionar que columnas queres q se vean o no), pagelenth para seleccionar la cantidad  datos mostrados 
                                    buttons: [ 'copy', 'excel', 'pdf', 'csv', 'print'] 
                                }, 'colvis', 'pageLength'
                              ],
                                    
                    "columnDefs": [ 
                                  //con esto podes setear que columnas queres aparezca o no
                                  //{ "visible": false, "targets": 3 },
                                    { responsivePriority: 1, targets: 0 },
                                    { responsivePriority: 2, targets: 3 },                                    
                    ],
                    "responsive": true,   
                    retrieve: true,
                    data : window.arrayrespuesta.data,
                     "columns": [
                      { 
                        "data": "id",
                        "title": "ID",
                        //"visible": false, // hago esta columna invisible porque no la neecsito ver pero la voy a usar para poder apuntarle a la compra cuando arme el modal de edición.
                        "className": "id-compra"
                      },                           
                      { 
                        "data": "proveedor.nombre",
                        "title": "Razon Social"
                      },
                      { 
                        "data": "proveedor.cuit",
                        "title": "C.U.I.T"
                      },
                      { 
                        "data": "proveedor.iva.detalle",
                        "title": "Situación de IVA"
                      },
                      { 
                        //Concateno periodo mes y año para armar el periodo.
                        "mData": null,
                        "mRender": function(data,type,full){
                          return full['periodo_mes']+'-'+full['periodo_ano'];
                        },
                        "title": "Período"
                      },
                      { 
                        "data": "fecha",
                        "title": "Fecha"
                      },
                      { 
                        "mData": null,
                        "mRender": function(data,type,full){
                          return full['cod_comprobante'].detalle+' '+full['tipo_comprobante'].tipo_comp;
                        },
                        "title": "Comprobante"
                      },
                      /*{ 
                        "data": "cod_comprobante.detalle",
                        "title": "Comprobante"
                      },
                      { 
                        "data": "tipo_comprobante.tipo_comp",
                        "title": "Tipo de Comprobante"
                      },*/
                      { 
                        "data": "nro_comprobante",
                        "title": "Número de Comprobante"
                      },
                      { 
                        "data": "cai",
                        "title": "CAI"
                      },
                      { 
                        "data": "proveedor.jurisdiccion.nombre",
                        "title": "Jurisdicción"
                      },
                      { 
                        "data": "imputacion.id",
                        "title": "Código de imputación"
                      },                      
                      { 
                        "data": "imputacion.nombre",
                        "title": "Detalle de imputación"
                      },                      
                      { 
                        "data": "neto105",
                        "title": "Neto 10.5%",
                        className: 'none'
                      },
                      { 
                        "data": "neto21",
                        "title": "Neto 21%",
                        className: 'none'
                      },
                      { 
                        "data": "neto27",
                        "title": "Neto 27%",
                        className: 'none'
                      },
                      { 
                        "data": "nogravado",
                        "title": "No Gravado",
                        className: 'none'
                      },
                      { 
                        "data": "iva105",
                        "title": "IVA 10.5%",
                        className: 'none'
                      },
                      { 
                        "data": "iva21",
                        "title": "IVA 21%",
                        className: 'none'
                      },
                      { 
                        "data": "iva27",
                        "title": "IVA 27%",
                        className: 'none'
                      },
                      { 
                        "data": "perc_iva",
                        "title": "Percepciones de IVA",
                        className: 'none'
                      },
                      { 
                        "data": "perc_iibb",
                        "title": "Percepciones de IIBB",
                        className: 'none'
                      },
                      { 
                        "data": "ret_ganancia",
                        "title": "Retenciones de Ganancias",
                        className: 'none'
                      },                      
                      { 
                        "data": "total",
                        "title": "Total"
                      },                      
                      ]
                  }); 
    table.buttons().container().appendTo( '#tabla-compras .col-sm-6:eq(0)' );

    var tableReload = function(datosnuevos){
      window.arrayrespuesta.data = datosnuevos;
      $('#tabla-compras').DataTable().clear().draw();
      $('#tabla-compras').DataTable().rows.add(datosnuevos).draw();
      console.log(window.arrayrespuesta);
      };                 

        // A partir de acá metemos lo que pasa cuando picamos sobre alguna compra

    $('#tabla-compras tbody').on( 'click', 'tr', function () {
      if ( $(this).hasClass('active') ) {
        $(this).removeClass('active');
      }
      else {
        window.table.$('tr.active').removeClass('active');
        $(this).addClass('active');
        // metemos en una variable lo que hay en e campo cuit de la empresa seleccionada
      }
    });

    $("#addCompra").click(function(){
      $("#modal-compras").modal();
      //$("h4.modal-title").text("Agregar Compra");
      $('#boton-new').css("display", "");
      $('#boton-edit').css("display", "none");
      $('#boton-del').css("display", "none");
      //Limpiamos el modal
      $("#fechaCompra").val('');
      $("#periodo").val('');
      $("#cuit").val('');
      $('#comprobante').val('');
      $('#comprobanteNumero').val('');
      $('#tipoComprobante').val('');
      $('#imputacion').val('');
      $('#cai').val('');
      $('#nombre').val('');
      $('#iva').val('');
      $('#jurisdiccion').val('');
      $('#exento').val('0');
      $('#neto105').val('0');
      $('#neto21').val('0');
      $('#neto27').val('0');
      $('#iva105').val('0');
      $('#iva21').val('0');-
      $('#iva27').val('0');
      $('#nogravado').val('0');
      $('#perc_iva').val('0');
      $('#perc_iibb').val('0');
      $('#ret_ganancia').val('0');
      $('#total').removeAttr("disabled");
      $('#exento').removeAttr("disabled");
      $('#neto105').removeAttr("disabled");
      $('#neto21').removeAttr("disabled");
      $('#neto27').removeAttr("disabled");
      $('#iva105').removeAttr("disabled");
      $('#iva21').removeAttr("disabled");-
      $('#iva27').removeAttr("disabled");
      $('#nogravado').removeAttr("disabled");
      $('#perc_iva').removeAttr("disabled");
      $('#perc_iibb').removeAttr("disabled");
      $('#ret_ganancia').removeAttr("disabled");
      $('#total').removeAttr("disabled");
    });
    $("#editCompra").click(function(){
      $('#total').removeAttr("disabled");
      $('#exento').removeAttr("disabled");
      $('#neto105').removeAttr("disabled");
      $('#neto21').removeAttr("disabled");
      $('#neto27').removeAttr("disabled");
      $('#iva105').removeAttr("disabled");
      $('#iva21').removeAttr("disabled");-
      $('#iva27').removeAttr("disabled");
      $('#nogravado').removeAttr("disabled");
      $('#perc_iva').removeAttr("disabled");
      $('#perc_iibb').removeAttr("disabled");
      $('#ret_ganancia').removeAttr("disabled");
      $('#total').removeAttr("disabled");
      $("#modal-compras").modal();
      //$("h4.modal-title").text("Editar Empresa");
      $('#boton-new').css("display", "none");
      $('#boton-edit').css("display", "");
      $('#boton-del').css("display", "");
      //cargamos el modal
      window.idCompra = window.table.$("tr.active").find(".id-compra").text();
      console.log(idCompra);
        window.arrayrespuesta.data.forEach(function(item,index,arr){
          if (item.id == idCompra){
            console.log(item);
            $('div.modal-body div.form-group #periodo').val( item.periodo_ano + "-" + ("0" + item.periodo_mes).slice( -2 )); // hay que mandarlo en formato YYYY-MM
            var objFecha = new Date(item.fecha);
            var realFecha = new Date(objFecha.getTime() + 86400000);
            var fechaDia = realFecha.getDate();
            var fechaMes = realFecha.getMonth() + 1;
            var fechaAno = realFecha.getFullYear();
            $("#fechaCompra").val(fechaAno + "-" + ("0" + fechaMes).slice(-2) + "-" + ("0" + fechaDia).slice(-2));
            console.log(fechaAno + "-" + ("0" + fechaMes).slice(-2) + "-" + ("0" + fechaDia).slice(-2)); // hay que mandarlo en formato YYYY-MM-DD
            
            window.idProv = item.proveedor.id;
            $("#cuit").val(item.proveedor.cuit);
            $("#iva").val(item.proveedor.iva.codigo);
            $("#jurisdiccion").val(item.proveedor.jurisdiccion.nombre);
            $("#nombre").val(item.proveedor.nombre);
            $("#comprobanteNumero").val(item.nro_comprobante);
            console.log(item.nro_comprobante);
            $("#comprobante").val(item.cod_comprobante.id);
            
            var option = item.cod_comprobante.id;
            var opciones = "<option value='' selected='selected'>--seleccionar--</option>";
            window.arrayTiposComp.forEach(function(item,index,arr){
              if(option == item.cod_comp.id){
                opciones = opciones + "<option value='"+item.id+"'>"+item.tipo_comp+"</option>";
              }
            });
            $("#tipoComprobante").html(opciones);
            $("#tipoComprobante").val(item.tipo_comprobante.id).trigger('change');

            var option = window.idProv;
            var opciones = "<option value='' selected='selected'>--seleccionar--</option>";
            window.arrayImputProv.forEach(function(item,index,arr){
              if(option == item.id_prov){
                opciones = opciones + "<option value='"+item.id_imp.id+"'>"+item.id_imp.nombre+"</option>";
              }
            });
            $("#imputacion").html(opciones);
            $('#imputacion').val(item.imputacion.id);
            
            $('#cai').val(item.cai);
            $('#exento').val(item.exento);
            $('#neto105').val(item.neto105);
            $('#neto21').val(item.neto21);
            $('#neto27').val(item.neto27);
            $('#iva105').val(item.iva105);
            $('#iva21').val(item.iva21);
            $('#iva27').val(item.iva27);
            $('#nogravado').val(item.nogravado);
            $('#perc_iva').val(item.perc_iva);
            $('#perc_iibb').val(item.perc_iibb);
            $('#ret_ganancia').val(item.ret_ganancia);
            $('#total').val(item.total);
          }
        });
      });


    $("#modal-formulario").validate({
          rules: {
              fechaCompra: { 
                required: true,
                //minlength: 3
              },
              periodo: { 
                required: true,
                //minlength: 3
              },
              cuit: { 
                required: true,
                //minlength: 3
              },
              comprobante: { 
                required: true
                //minlength: 3
              },
              comprobanteNumero: { 
                required: true
                //minlength: 3
              },
              tipoComprobante: { 
                required: true,
                //cuit: true
              },
              imputacion: { 
                required: true
                //minlength: 3
              },
              cai: { 
                required: true
                //minlength: 3
              },
              exento: { 
                required: true,
                //minlength: 3
              },
              neto105: { 
                required: true,
                //minlength: 3
              },
              neto21: { 
                required: true,
                //minlength: 3
              },
              neto27: { 
                required: true,
                //minlength: 3
              },
              iva105: { 
                required: true
                //minlength: 3
              },
              iva21: { 
                required: true
                //minlength: 3
              },
              iva27: { 
                required: true,
                //cuit: true
              },
              nogravado: { 
                required: true
                //minlength: 3
              },
              perc_iva: { 
                required: true
                //minlength: 3
              },
              perc_iibb: { 
                required: true,
                //minlength: 3
              },
              ret_ganancia: { 
                required: true
                //minlength: 3
              },
              total: { 
                required: true,
                //minlength: 3
              },             
          },
          messages: {
              fechaCompra: { 
                required: "Este campo no puede dejarse en vacío",
                //minlength: 3
              },
              periodo: { 
                required: "Este campo no puede dejarse en vacío",
                //minlength: 3
              },
              cuit: { 
                required: "Este campo no puede dejarse en vacío",
                //minlength: 3
              },
              comprobante: { 
                required: "Este campo no puede dejarse en vacío",                
                //minlength: 3
              },
              comprobanteNumero: { 
                required: "Este campo no puede dejarse en vacío",                
                //minlength: 3
              },
              tipoComprobante: { 
                required: "Este campo no puede dejarse en vacío",
                //cuit: true
              },
              imputacion: { 
                required: "Este campo no puede dejarse en vacío",                
                //minlength: 3
              },
              cai: { 
                required: "Este campo no puede dejarse en vacío",                
                //minlength: 3
              },
              exento: { 
                required: "Este campo no puede dejarse en vacío",
                //minlength: 3
              },
              neto105: { 
                required: "Este campo no puede dejarse en vacío",
                //minlength: 3
              },
              neto21: { 
                required: "Este campo no puede dejarse en vacío",
                //minlength: 3
              },
              neto27: { 
                required: "Este campo no puede dejarse en vacío",
                //minlength: 3
              },
              iva105: { 
                required: "Este campo no puede dejarse en vacío",                
                //minlength: 3
              },
              iva21: { 
                required: "Este campo no puede dejarse en vacío",                
                //minlength: 3
              },
              iva27: { 
                required: "Este campo no puede dejarse en vacío",
                //cuit: true
              },
              nogravado: { 
                required: "Este campo no puede dejarse en vacío",                
                //minlength: 3
              },
              perc_iva: { 
                required: "Este campo no puede dejarse en vacío",                
                //minlength: 3
              },
              perc_iibb: { 
                required: "Este campo no puede dejarse en vacío",
                //minlength: 3
              },
              ret_ganancia: { 
                required: "Este campo no puede dejarse en vacío",                
                //minlength: 3
              },
              total: { 
                required: "Este campo no puede dejarse en vacío",
                //minlength: 3
              },             
          },
            
      });

    // Apartir de aca lo que hace el boron agregar para crear una nueva compra

    $("#boton-new").on('click',function(){
    if ($("#modal-formulario").valid()){  
      var objFecha = new Date($('#fechaCompra').val());
      var realFecha = new Date(objFecha.getTime() + 86400000);
      var objPeriodo = new Date($('#periodo').val());
      var realPeriodo = new Date(objPeriodo.getTime() + 86400000);

      var periodoMes = realPeriodo.getMonth() + 1;
      var periodoAno = realPeriodo.getFullYear();

      var fechaDia = realFecha.getDate();
      var fechaMes = realFecha.getMonth() + 1;
      var fechaAno = realFecha.getFullYear();
      
      //realizo un post pasando la url correspondiente al backend, los datos previamente capturados y realizo la funcion correspondiente que me devolvera la respuesta.
            
      $.ajax({
        type: "POST",
        url: "/contable/compras/" + window.idEmpresa + "/new",
        //async: false,
        data: {                  
          "periodo_mes" : ( "0" + periodoMes).slice( -2 ), 
          "periodo_ano" : periodoAno, 
          "fecha" : fechaAno + "-" + ( '0' + fechaMes).slice( -2 ) + "-" + ( '0' + fechaDia).slice( -2 ),
          "proveedor" : idProv,
          "cod_comprobante" : $('#comprobante').val(), 
          "nro_comprobante" : $('#comprobanteNumero').val(),
          "tipo_comprobante" : $('#tipoComprobante').val(),
          "imputacion" : $('#imputacion').val(),
          "cai" : $('#cai').val(),
          "neto_105": $('#neto105').val(), 
          "neto_21": $('#neto21').val(),
          "neto_27": $('#neto27').val(),
          "iva_105": $('#iva105').val(),
          "iva_21": $('#iva21').val(),
          "iva_27": $('#iva27').val(),
          "nogravado": $('#nogravado').val(),
          "exento": $('#exento').val(),
          "perc_iva": $('#perc_iva').val(),
          "perc_iibb": $('#perc_iibb').val(),
          "ret_ganancia": $('#ret_ganancia').val(),
          "total": $('#total').val(),
           },
        dataType: "json"
      })
      .done(function(respuesta){
        console.log(respuesta);
        if(respuesta.status = 'OK'){
          alert("compra agregada con éxito");
        }else{
          alert("no se pudo agregar la compra")
        } 
        $("#modal-compras").modal('toggle');
        tableReload(respuesta.data);
        $("#fechaCompra").val('');
        $("#periodo").val('');
        $("#cuit").val('');
        $('#comprobante').val('');
        $('#comprobanteNumero').val('');
        $('#tipoComprobante').val('');
        $('#imputacion').val('');
        $('#cai').val('');
        $('#nombre').val('');
        $('#iva').val('');
        $('#jurisdiccion').val('');
        $('#exento').val('0');
        $('#neto105').val('0');
        $('#neto21').val('0');
        $('#neto27').val('0');
        $('#iva105').val('0');
        $('#iva21').val('0');
        $('#iva27').val('0');
        $('#nogravado').val('0');
        $('#perc_iva').val('0');
        $('#perc_iibb').val('0');
        $('#ret_ganancia').val('0');
        $('#total').val('0');
      //deberiamos mostrar algun mensaje tanto como de error, como de que todo salio bien. y luego recargar la grilla para que aparezca la nueva empresa en la tabla.
      //alert(resp);
      });
    }



    });

    // Apartir de aca lo que hace el boron agregar para editar una compra

    $("#boton-edit").on('click',function(){
    if ($("#modal-formulario").valid()){  
      var objFecha = new Date($('#fechaCompra').val());
      var realFecha = new Date(objFecha.getTime() + 86400000);
      var objPeriodo = new Date($('#periodo').val());
      var realPeriodo = new Date(objPeriodo.getTime() + 86400000);

      var periodoMes = realPeriodo.getMonth() + 1;
      var periodoAno = realPeriodo.getFullYear();

      var fechaDia = realFecha.getDate();
      var fechaMes = realFecha.getMonth() + 1;
      var fechaAno = realFecha.getFullYear();
      
      //realizo un post pasando la url correspondiente al backend, los datos previamente capturados y realizo la funcion correspondiente que me devolvera la respuesta.
            
      $.ajax({
        type: "POST",
        url: "/contable/compras/" + window.idEmpresa + "/update",
        //async: false,
        data: {                  
          "periodo_mes" : ( "0" + periodoMes).slice( -2 ), 
          "periodo_ano" : periodoAno, 
          "fecha" : fechaAno + "-" + ( '0' + fechaMes).slice( -2 ) + "-" + ( '0' + fechaDia).slice( -2 ),
          "id_compras": idCompra,
          "proveedor" : idProv,
          "cod_comprobante" : $('#comprobante').val(), 
          "nro_comprobante" : $('#comprobanteNumero').val(),
          "tipo_comprobante" : $('#tipoComprobante').val(),
          "imputacion" : $('#imputacion').val(),
          "cai" : $('#cai').val(),
          "neto_105": $('#neto105').val(), 
          "neto_21": $('#neto21').val(),
          "neto_27": $('#neto27').val(),
          "iva_105": $('#iva105').val(),
          "iva_21": $('#iva21').val(),
          "iva_27": $('#iva27').val(),
          "nogravado": $('#nogravado').val(),
          "exento": $('#exento').val(),
          "perc_iva": $('#perc_iva').val(),
          "perc_iibb": $('#perc_iibb').val(),
          "ret_ganancia": $('#ret_ganancia').val(),
          "total": $('#total').val(),
           },
        dataType: "json"
      })
      .done(function(respuesta){
        console.log(respuesta);
        if(respuesta.status = 'OK'){
          alert("compra agregada con éxito");
        }else{
          alert("no se pudo agregar la compra")
        } 
        $("#modal-compras").modal('toggle');
        tableReload(respuesta.data);
        $("#fechaCompra").val('');
        $("#periodo").val('');
        $("#cuit").val('');
        $('#comprobante').val('');
        $('#comprobanteNumero').val('');
        $('#tipoComprobante').val('');
        $('#imputacion').val('');
        $('#cai').val('');
        $('#nombre').val('');
        $('#iva').val('');
        $('#jurisdiccion').val('');
        $('#exento').val('0');
        $('#neto105').val('0');
        $('#neto21').val('0');
        $('#neto27').val('0');
        $('#iva105').val('0');
        $('#iva21').val('0');
        $('#iva27').val('0');
        $('#nogravado').val('0');
        $('#perc_iva').val('0');
        $('#perc_iibb').val('0');
        $('#ret_ganancia').val('0');
        $('#total').val('0');
      //deberiamos mostrar algun mensaje tanto como de error, como de que todo salio bien. y luego recargar la grilla para que aparezca la nueva empresa en la tabla.
      //alert(resp);
      });
    }
    });

    // A partir de aca lo que pasa cuando le damos al boton eliminar

    $("#boton-del").on("click",function(){

      $.ajax({
        type: "POST",
        url: "/contable/compras/" + window.idEmpresa + "/del",
        //async: false,
        data: {"id_compras": idCompra},
        dataType: "json"
      })
      .done(function(respuesta){
        console.log(respuesta);
        if(respuesta.status = 'OK'){
          alert("compra eliminada con éxito");
        }else{
          alert("no se pudo eliminar la compra")
        } 
        $("#modal-compras").modal('toggle');
        tableReload(respuesta.data);
        $("#fechaCompra").val('');
        $("#periodo").val('');
        $("#cuit").val('');
        $('#comprobante').val('');
        $('#comprobanteNumero').val('');
        $('#tipoComprobante').val('');
        $('#imputacion').val('');
        $('#cai').val('');
        $('#nombre').val('');
        $('#iva').val('');
        $('#jurisdiccion').val('');
        $('#exento').val('0');
        $('#neto105').val('0');
        $('#neto21').val('0');
        $('#neto27').val('0');
        $('#iva105').val('0');
        $('#iva21').val('0');
        $('#iva27').val('0');
        $('#nogravado').val('0');
        $('#perc_iva').val('0');
        $('#perc_iibb').val('0');
        $('#ret_ganancia').val('0');
        $('#total').val('0');
      //deberiamos mostrar algun mensaje tanto como de error, como de que todo salio bien. y luego recargar la grilla para que aparezca la nueva empresa en la tabla.
      //alert(resp);
      });

    });

    $(".calcularIva").on("change",function(){
      var iva105 = parseFloat($('#neto105').val()) * parseFloat("0.105");
      $("#iva105").val(iva105);
      var iva21 = parseFloat($('#neto21').val()) * parseFloat("0.21");
      $("#iva21").val(iva21);
      var iva27 = parseFloat($('#neto27').val()) * parseFloat("0.27");
      $("#iva27").val(iva27);
    });

    $(".calculado").on("change",function(){
      var comprasTotal = 
        parseFloat($('#exento').val()) +
        parseFloat($('#neto105').val()) +
        parseFloat($('#neto21').val()) +
        parseFloat($('#neto27').val()) +
        parseFloat($('#iva105').val()) +
        parseFloat($('#iva21').val()) +
        parseFloat($('#iva27').val()) +
        parseFloat($('#nogravado').val()) +
        parseFloat($('#perc_iva').val()) +
        parseFloat($('#perc_iibb').val()) +
        parseFloat($('#ret_ganancia').val());
      $('#total').val(comprasTotal);
    });
   
  });
                             
                
</script>

{% endblock %}
{% block body %}
  <!-- ACA EMPIEZO A TRABAJAR LA INTERFAZ Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
       <h2>
        Compras
        <small>Buscador</small>
      </h2>
      <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home"></i> home</a></li>
        <li><a href="/contable"><i class="fa fa-calculator"></i> contable</a></li>
        <li class="active"><i class="fa fa-search"></i>Buscador de compras</li>
      </ol>
    </section>    
    <section class="content">
      <!-- Small boxes (Stat box) -->                                                          
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Busque el comprobante deseado..</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="tabla-compras" class="table table-bordered table-striped table-hover dt-responsive"> <!-- nowrap -->
                  <tbody></tbody>
                </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            {% block botones %}            
            {% endblock %} 
    <!-- Main content -->        
          </div>
        </div>
      </div>
    </section>    
    <!-- /.content -->
  </div>

  <div class="modal fade" id="modal-compras" tabindex="-1" role="dialog" aria-labelledby="modalProveedores">
  <div id="modal-compras" class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <form id="modal-formulario">  
      <div class="modal-header">
        <div class="col-xs-12">
          <div class="col-xs-6">
            <h4 class="modal-title" id="modalProveedores">Datos del comprobante </h4>
          </div>
          <div class="col-xs-6">
            <h4 class="modal-title" id="modalProveedores">Importes: </h4>
          </div>   
        </div>             
      </div>
      <div class="modal-body">
        <div class="box-body">
          <div class="col-xs-6">          
            <div class="form-group">
              <label for="periodo">Período: </label>                    
              <input type="month" class="form-control input-sm" id="periodo" name="periodo" />
            </div>            
            <div class="form-group">
              <label for="fechaCompra">Fecha de compra: </label>                    
              <input type="date" class="form-control input-sm" id="fechaCompra" name="fechaCompra" />
            </div>
            <div class="form-group">
              <label for="cuit">Cuit: </label>
              <input type="text" required="true" class="form-control input-sm" id="cuit" name="cuit" disabled="true" />   
            </div>
            <div class="form-group">
              <label for="nombre">Razón social: </label>
              <input type="text" required="true" class="form-control input-sm" id="nombre" name="nombre" /><div id="pos-nombre"></div>  
            </div>                 
            <div class="form-group" style="display: none">
              <label for="empresaID">ID: </label>   
              <input type="number" required="true" class="form-control input-sm" id="empresaID" name="empresaID" disabled="true"  />
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <div class="col-xs-12" style="padding-left: 0px">
                   <label for="comprobante">Comprobante: </label>
                </div>
                <div class="col-xs-12  input-sm">                             
                  <select name="comprobante" id="comprobante" required="true" class="selectpicker dropdown-toggle form-control input-sm" type="button" data-toggle="dropdown">
                    <option disabled selected value>--Seleccione una opcion--</option>  
                  </select>
                </div>     
              </div>
              <div class="col-xs-6">
                <div class="col-xs-12" style="padding-left: 0px">
                   <label for="tipoComprobante">Tipo Comprobante: </label>
                </div>
                <div class="col-xs-12  input-sm">                             
                  <select name="tipoComprobante" id="tipoComprobante" required="true" class="selectpicker dropdown-toggle form-control input-sm" type="button" data-toggle="dropdown">
                    <option disabled selected value>--Seleccione una opcion--</option>  
                  </select>
                </div>
              </div>     
            </div>
            &nbsp
            <div class="form-group">
              <label for="comprobanteNumero">Nro. de Comprobante: </label>                    
              <input type="text" class="form-control input-sm" id="comprobanteNumero" name="comprobanteNumero" />
            </div>            
            <div class="form-group">
              <label for="situacionIVACompleto">Situacion IVA: </label>
              <input type="text" class="form-control input-sm" id="iva" name="situacionIVACompleto" disabled="true" /> 
            </div>
            <div class="form-group">
              <label for="jurisdiccion">Jurisdiccion: </label>                    
              <input type="text" class="form-control input-sm" id="jurisdiccion" name="jurisdiccion" disabled="true"/>
            </div> 
            <div class="form-group">
              <label for="imputacion">Imputacion: </label>
              <div class="col-xs-12  input-sm">                             
                <select name="imputacion" id="imputacion" required="true" class="selectpicker dropdown-toggle form-control input-sm" type="button" data-toggle="dropdown">
                  <option disabled selected value>--Seleccione una opcion--</option>  
                </select>
              </div>                    
            </div>
            &nbsp            
            <div class="form-group">
              <label for="imputacion">CAI: </label>                    
              <input type="text" class="form-control input-sm" id="cai" name="cai"/>
            </div>                      
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="neto105">Exento :</label>                    
              <input type="text" class="form-control input-sm calculado" id="exento" name="exento" />
            </div>            
            <div class="form-group">
              <label for="neto105">Neto al 10,5% :</label>                    
              <input type="text" class="form-control input-sm calculado calcularIva" id="neto105" name="neto105" />
            </div>
            <div class="form-group">
              <label for="neto21">Neto al 21% :</label>                    
              <input type="text" class="form-control input-sm calculado calcularIva" id="neto21" name="neto21" />
            </div>
            <div class="form-group">
              <label for="neto27">Neto al 27% :</label>                    
              <input type="text" class="form-control input-sm calculado calcularIva" id="neto27" name="neto27" />
            </div>
            <div class="form-group">
              <label for="nogravado">No Gravado : </label>                    
              <input type="text" class="form-control input-sm calculado" id="nogravado" name="nogravado" />
            </div>
            <div class="form-group">
              <label for="iva105">IVA 10,5%: </label>                    
              <input type="text" class="form-control input-sm calculado iva" id="iva105" name="iva105" />
            </div>
            <div class="form-group">
              <label for="iva21">IVA 21% : </label>                    
              <input type="text" class="form-control input-sm calculado iva" id="iva21" name="iva21" />
            </div>
            <div class="form-group">
              <label for="iva27">IVA 27%: </label>                    
              <input type="text" class="form-control input-sm calculado iva" id="iva27" name="iva27" />
            </div>
            <div class="form-group">
              <label for="perc_iva">Percepciones de IVA : </label>                    
              <input type="text" class="form-control input-sm calculado" id="perc_iva" name="perc_iva" />
            </div>
            <div class="form-group">
              <label for="perc_iibb">Percepciones de IIBB : </label>                    
              <input type="text" class="form-control input-sm calculado" id="perc_iibb" name="perc_iibb" />
            </div>
            <div class="form-group">
              <label for="ret_ganancia">Retenciones de Ganancias : </label>                    
              <input type="text" class="form-control input-sm calculado" id="ret_ganancia" name="ret_ganancia" />
            </div>
            <div class="form-group">
              <label for="total">Total : </label>                    
              <input type="text" class="form-control input-sm" id="total" name="total" />
            </div>
          </div>

        </div>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" onclick="return false" id="boton-new" style="display: none">Agregar</button>
        <button type="submit" class="btn btn-success" onclick="return false" id="boton-edit" style="display: none">Guardar</button>
        <button type="submit" class="btn btn-danger pull-left" onclick="return false" id="boton-del" style="display: none">Eliminar</button>
      </div>
    </form>  
    </div>
  </div>
  </div>
</div>
  <!-- /.content-wrapper -->
{% endblock %}