{% extends 'FrontendBundle::Default/base.html.twig' %}
{% block title %} Contable{% endblock %}
{% block CSs %}
<link rel="stylesheet" href="{{ asset('public/Buttons-1.4.2/css/buttons.bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('public/responsive-2.2.0/css/responsive.bootstrap.min.css') }}">
  <style>
    table { width: 50% }
    tbody tr:hover.active td,
    tbody tr:hover td {
      background-color: #A9D0F5;
      cursor: pointer;
    }               
    .table>tbody>tr.active>td {
      background-color: #A9D0F5;
      color: #000000;
      font:  bold 12px/18px Times, "Times New Roman", serif;
    }
  </style>              
{% endblock %}
{% block Scripts %}

 <!-- DataTables -->
<script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/responsive-2.2.0/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('public/responsive-2.2.0/js/responsive.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/JSZip-2.5.0/jszip.min.js') }}"></script>
<script src="{{ asset('public/pdfmake-0.1.32/pdfmake.min.js') }}"></script>
<script src="{{ asset('public/pdfmake-0.1.32/vfs_fonts.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.colVis.min.js') }}"></script> 
<!-- <script src="{{ asset('') }}"></script>  --> 
<script src="{{ asset('ratsoft/ratsoft.js') }}"></script>

<script>
  //con esto bloqueamos la pantalla cuando inicia alguna accion ajax..
  $(document).ajaxStart(function() {
            $.blockUI({ css: { 
                border: 'none', 
                padding: '15px', 
                backgroundColor: '#000', 
                '-webkit-border-radius': '10px', 
                '-moz-border-radius': '10px', 
                opacity: .5, 
                color: '#fff' 
            },message: 'Por Favor, espere...'})
        });    
  $(document).ready(function(){

    //cuando termina la accion ajax, se desbloquea..
    $(document).ajaxStop(function() {
        $.unblockUI();
    });

    //llenamos el combo pasando 1. url 2. valor 3. descripcion 4. id del campo
    comboFill("/jurisdicciones","id","nombre","#nuevaProvincia")
    comboFill("/iva","id","codigo","#nuevaSituacionIVA")
    comboFill("/rubros","id","nombre","#nuevoRubro")
    comboFill("/iibb","id","nombre","#nuevoIngresosBrutos")

    // armamos el Datatable para traernos la info desde /empresa
    var table = $('#tabla-empresas').DataTable({
      "responsive": true,
       dom: "<'row'<'col-sm-7 text-left'B><'col-sm-5 text-right'f>>" +"<'row'<'col-sm-12't>>" +"<'row'<'col-sm-5 text-left'i><'col-sm-7 text-right'p>>",
       "language": {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
       lengthMenu: [
                        [ 10, 25, 50, -1 ],
                        [ '10 Filas', '25 Filas', '50 Filas', 'Todos' ]
                    ],
      //elegis los formatos para exportar los datos de la tabla, colvis (va a servir para seleccionar que columnas queres q se vean o no), pagelenth para seleccionar la cantidad  datos mostrados 
       buttons: [
                                {
                                    extend: 'collection',
                                    text: 'Exportar',
                                    //elegis los formatos para exportar los datos de la tabla, colvis (va a servir para seleccionar que columnas queres q se vean o no), pagelenth para seleccionar la cantidad  datos mostrados 
                                    buttons: [ 'copy', 'excel', 'pdf', 'csv', 'print'] 
                                }, 'pageLength'
                              ],
      "columnDefs": [ 
                                  //con esto podes setear que columnas queres aparezca o no
                                  //{ "visible": false, "targets": 3 },
                                    { responsivePriority: 1, targets: 0 },
                                    { responsivePriority: 2, targets: 3 },                                    
                    ],
      "ajax": "/empresa",
      "columns": [
        { "data": "nombre"},
        { "data": "cuit",
          "className": "cuit"}, //esto es importante, le ponemos una clase a este campo
        { "data": "iva.detalle"},
        { "data": "provincia.nombre" }
        ]
    });

    // A partir de acá metemos lo que pasa cuando picamos sobre alguna empresa
    $('#tabla-empresas tbody').on( 'click', 'tr', function () {
      if ( $(this).hasClass('active') ) {
        $(this).removeClass('active');
      }
      else {
        table.$('tr.active').removeClass('active');
        $(this).addClass('active');
        // metemos en una variable lo que hay en e campo cuit de la empresa seleccionada
        var cuit = table.$("tr.active").find(".cuit").text();
        //console.log( cuit );
        // Mandamos esta variable por post a /empresa/find para traernos toda la info de la empresa y poder volcarla en el panel de la derecha
        $.post("/empresa/find",{"cuit":cuit},function(resp,estado,jqXHR){
          console.log(resp);
          // Parseamos la respuesta para que no sea un string y podamos navegarlo
          var arrayResp = JSON.parse(resp);
          // Aplicamos lo que trajimos para cambiar el valor correspondiente de cada campo donde sea necesario
          $('div.form-group #empresaID').val(arrayResp.data.id);
          //$('div.form-group #nombre').attr("placeholder",arrayResp.data.nombre);
          $('div.form-group #nombre').val(arrayResp.data.nombre);
          $('div.form-group #domicilio').val(arrayResp.data.domicilio);
          $('div.form-group #localidad').val(arrayResp.data.localidad);
          $('div.form-group #provincia').val(arrayResp.data.provincia.nombre);
          $('div.form-group #iva').val(arrayResp.data.iva.detalle);
          $('div.form-group #cuit').val(arrayResp.data.cuit);
          $('div.form-group #ingresosBrutos').val(arrayResp.data.iibb_cod.nombre);
          $('div.form-group #rubro').val(arrayResp.data.rubro.nombre);
          $('div.form-group #titular').val(arrayResp.data.titular);
          //console.log(arrayResp.data.cuit);

          //llenamos el modal con los datos de la empresa
          $('div.modal-body div.form-group #nuevoId').val(arrayResp.data.id);
          $('div.modal-body div.form-group #nuevoNombre').val(arrayResp.data.nombre);
          $('div.modal-body div.form-group #nuevoDomicilio').val(arrayResp.data.domicilio);
          $('div.modal-body div.form-group #nuevaLocalidad').val(arrayResp.data.localidad);
          $('div.modal-body div.form-group #nuevaProvincia').val(arrayResp.data.provincia.id);
          $('div.modal-body div.form-group #nuevaSituacionIVA').val(arrayResp.data.iva.id);
          $('div.modal-body div.form-group #nuevoCuit').val(arrayResp.data.cuit);
          $('div.modal-body div.form-group #nuevoIngresosBrutos').val(arrayResp.data.iibb_cod.id);
          $('div.modal-body div.form-group #nuevoRubro').val(arrayResp.data.rubro.id);
          $('div.modal-body div.form-group #nuevoTitular').val(arrayResp.data.titular);
          
          
          var option = $('div.modal-body div.form-group #nuevaSituacionIVA').find('option:selected').val();
            $.get("/iva/"+option,function(resp,estado,jqXHR){
                    var arrayResp = JSON.parse(resp);
                    var obj = arrayResp.data[0];
                    $('#nuevoIva').val(obj["detalle"]);
                  });
            
        });
      }
    }); 

     //llama al modal luego de hacer click en el boton
      $("#addEmpresa").click(function(){        
        $("#modalAddEmpresa").modal();
        //limpio los campos del modal
        $('input#nuevoNombre').val('');
        $('input#nuevoId').val('');
        $('input#nuevoDomicilio').val('');
        $('input#nuevaLocalidad').val('');
        $('select#nuevaProvincia').val('');
        $('select#nuevaSituacionIVA').val('');
        $('input#nuevoIva').val('');
        $('input#nuevoCuit').val('');
        $('select#nuevoIngresosBrutos').val('');
        $('select#nuevoRubro').val('');     
        $('input#nuevoTitular').val('');
        //limpio los campos de la tabla del costado para arreglar efecto visual y evitar confusiones
        $('div.form-group #empresaID').val('');
        $('div.form-group #nombre').val('');
        $('div.form-group #domicilio').val('');
        $('div.form-group #localidad').val('');
        $('div.form-group #provincia').val('');
        $('div.form-group #iva').val('');
        $('div.form-group #cuit').val('');
        $('div.form-group #ingresosBrutos').val('');
        $('div.form-group #rubro').val('');
        $('div.form-group #titular').val('');
        //deselecciono la empresa de la tabla
        $('#tabla-empresas tbody tr').removeClass('active');
        //si esta en modo responsive hay q ver como hacer para que quede cerrado el "+" con sus campos
        //edito el titulo del modal
        $("h4.modal-title").text("Nueva Empresa");
        //establecemos que botones corresponde poder verse  en este caso, como agregamos no hace falta editar ni borrar
        $('button#newEmpresa').css("display", "");
        $('button#editDatesEmpresa').css("display", "none");
        $('button#deleteEmpresa').css("display", "none");
             
      });


      // llenamos el campo input cuando se detecta un cambio en el dropdownlist, 
      //hace una busqueda por el codigo seleccionado y va a buscar a la descripcion
      //a la base para llenar el campo con el texto completo

      $('#nuevaSituacionIVA').change(function(){
        var option = $(this).find('option:selected').val();
        $.get("/iva/"+option,function(resp,estado,jqXHR){
                var arrayResp = JSON.parse(resp);
                var obj = arrayResp.data[0];
                $('#nuevoIva').val(obj["detalle"]);
        });
      });

      //detecta el evento click
      $("#newEmpresa").click(function(){
            // alert("Guardar");
            //guardo los valores en cada variable                            
            var nombre = $('div.modal-body div.form-group #nuevoNombre').val();
            var domicilio = $('div.modal-body div.form-group #nuevoDomicilio').val();
            var localidad = $('div.modal-body div.form-group #nuevaLocalidad').val();
            var provincia = $('div.modal-body div.form-group #nuevaProvincia').val();
            var iva = $('div.modal-body div.form-group #nuevaSituacionIVA').val();
            var cuit = $('div.modal-body div.form-group #nuevoCuit').val();
            var iibb = $('div.modal-body div.form-group #nuevoIngresosBrutos').val();
            var rubro = $('div.modal-body div.form-group #nuevoRubro').val();
            var titular = $('div.modal-body div.form-group #nuevoTitular').val();
            // var nuevoMail = $('div.modal-body div.form-group #nuevoEmail').val();
            // var fax = $('div.modal-body div.form-group #nuevoFax');
            // var telefono = $('div.modal-body div.form-group #nuevoTelefono');
            //realizo un post pasando la url correspondiente al backend, los datos previamente capturados y realizo la funcion correspondiente que me devolvera la respuesta.
            $.post("/empresa/new",{                  
              "nombre" : nombre , 
              "domicilio" : domicilio, 
              "localidad" : localidad,
              "provincia" : provincia,
              "iva" : iva, 
              "cuit" : cuit,
              "iibb" : iibb,
              "rubro" : rubro,
              "titular" : titular },
              function(resp,estado,jqXHR){
                console.log(resp);
                if(resp.status == 'OK'){
                  alert("entro al ok!");
                  
                }
                else{
                  alert("no entro al ok!");
                }

                //deberiamos mostrar algun mensaje tanto como de error, como de que todo salio bien. y luego recargar la grilla para que aparezca la nueva empresa en la tabla.
                //alert(resp);   
              });

             
      });

      $("#editEmpresa").click(function(){
        $("#modalAddEmpresa").modal();
        //con esto remuevo el seleccionar del dropdown
        $('select#nuevaProvincia :contains(--seleccionar--)').attr("disabled","true");
        $('select#nuevaSituacionIVA :contains(--seleccionar--)').attr("disabled","true");
        $('select#nuevoRubro :contains(--seleccionar--)').attr("disabled","true");
        $('select#nuevoIngresosBrutos :contains(--seleccionar--)').attr("disabled","true");

        $("h4.modal-title").text("Editar Empresa");
        $('button#newEmpresa').css("display", "none");
        $('button#editDatesEmpresa').css("display", "");
        $('button#deleteEmpresa').css("display", "");
      });

      $("#editDatesEmpresa").click(function(){
        //guardamos id para pasarlo en la url
        var id =  $('div.modal-body div.form-group #nuevoId').val();
        var nombre = $('div.modal-body div.form-group #nuevoNombre').val();
        var domicilio = $('div.modal-body div.form-group #nuevoDomicilio').val();
        var localidad = $('div.modal-body div.form-group #nuevaLocalidad').val();
        var provincia = $('div.modal-body div.form-group #nuevaProvincia').val();
        var iva = $('div.modal-body div.form-group #nuevaSituacionIVA').val();
        var cuit = $('div.modal-body div.form-group #nuevoCuit').val();
        var iibb = $('div.modal-body div.form-group #nuevoIngresosBrutos').val();
        var rubro = $('div.modal-body div.form-group #nuevoRubro').val();
        var titular = $('div.modal-body div.form-group #nuevoTitular').val();
        //realizo un post pasando la url e id correspondiente para el backend, los datos previamente capturados y realizo la funcion correspondiente que me devolvera la respuesta.
        $.post("/empresa/"+id+"/edit",{

              "nombre" : nombre, 
              "domicilio" : domicilio, 
              "localidad" : localidad,
              "provincia" : provincia,
              "iva" : iva, 
              "cuit" : cuit,
              "iibb" : iibb,
              "rubro" : rubro,
              "titular" : titular },
              function(resp,estado,jqXHR){
                console.log(resp);                
              });
      });

      $("#deleteEmpresa").click(function(){
          var id =  $('div.modal-body div.form-group #nuevoId').val();
          var result = confirm("Esta seguro de que desea borrar la empresa?");
          if (result) {
               $.get("/empresa/"+id+"/del",
                  function(resp,estado,jqXHR){
                    console.log(resp);                    
                    $("#modalAddEmpresa").modal('toggle');

                    });
          }                 
      });     
  });
</script>
{% endblock %}
{% block body %}
  <!-- ACA EMPIEZO A TRABAJAR LA INTERFAZ Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
       <h2>
        Empresas
        <small>Buscador</small>
      </h2>
      <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home"></i> Home</a></li>
        <li class="active"><i class="fa fa-search" aria-hidden="true"></i>Buscador de Empresas</li>
      </ol>
    </section>
    <!-- Main content -->
         
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row" style="padding-bottom: 0.5em;">        
          <div class="col-xs-6">
            <button class="btn btn-danger btn-block" id="addEmpresa">
              <i class="fa fa-plus-circle" aria-hidden="true"> Agregar Empresa </i> 
            </button>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
                          {% block botones %}
                          {% endblock %}                                       
            </div>
          </div>
      </div>         
      <div class="row">
        <div class="col-xs-6">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Busque la empresa deseada..</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">              
              <table id="tabla-empresas" class="table table-bordered table-striped table-hover dt-responsive">
                <thead>                  
                  <tr>
                    <th>Razon Social</th>
                    <th>Cuit</th>
                    <th>Condicion IVA</th>
                    <th>Jurisdiccion</th>                    
                  </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                  <tr>
                    <th>Razon Social</th>
                    <th>Cuit</th>
                    <th>Condicion IVA</th>
                    <th>Jurisdiccion</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <div class="col-xs-6">          
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Datos de la empresa</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                  <div class="box-body">                 
                    <div class="form-group">
                      <label for="empresaID">ID: </label>
                      <input type="number" required="true" class="form-control input-sm" id="empresaID" name="empresaID" disabled="true" placeholder="ID Empresa" />
                    </div>
                    <div class="form-group">
                      <label for="nombre">Nombre: </label>
                      <input type="text" required="true" class="form-control input-sm" id="nombre" name="nombre"
                      placeholder="Nombre Empresa" disabled="true"/>   
                    </div>
                    <div class="form-group">
                      <label for="domicilio">Domicilio: </label>                  
                      <input type="text" required="true" class="form-control input-sm" id="domicilio" name="domicilio"
                      placeholder="Domicilio Empresa" disabled="true" />
                    </div>
                    <div class="form-group">
                      <label for="localidad">Localidad: </label>                    
                      <input type="text" class="form-control input-sm" id="localidad" name="localidad" placeholder="Localidad empresa" disabled="true" />                    
                    </div>
                    <div class="form-group">
                      <label for="provincia">Provincia: </label>                    
                      <input type="text" class="form-control input-sm" id="provincia" name="provincia" placeholder="provincia empresa" disabled="true"/>                      
                    </div>
                    <div class="form-group">
                      <label for="situacionIVACompleto">Situacion IVA: </label>
                      <input type="text" class="form-control input-sm" id="iva" name="situacionIVACompleto" disabled="true" placeholder="Situacion IVA descripcion completa" /> 
                    </div>
                    <div class="form-group">
                      <label for="cuit">Cuit: </label>                    
                      <input type="number" required="true" class="form-control input-sm" id="cuit" name="cuit" placeholder="Cuit" disabled="true"/>
                    </div> 
                    <div class="form-group">
                      <label for="ingresosBrutos">Ingresos Brutos: </label>                  
                      <input type="text" required="true" class="form-control input-sm" id="ingresosBrutos" name="ingresosBrutos" placeholder="Ingresos Brutos" disabled="true"/>  
                    </div>
                    <div class="form-group">
                      <label for="rubro">Rubro: </label>
                      <input type="text" class="form-control input-sm" id="rubro" name="rubro" placeholder="Rubro" disabled="true" />
                    </div>
                    <div class="form-group">
                      <label for="titular">Titular: </label>
                      <input type="text" class="form-control input-sm" id="titular" name="titular" placeholder="Titular" disabled="true" />
                    </div>     
                  </div>
                </div>  
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Datos de Contacto</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="email">Email: </label>
                      <input type="email" required="true" class="form-control input-sm" id="email" name="email" placeholder="Email" disabled="true" />   
                    </div>
                    <div class="form-group">
                      <label for="telefono">Telefono: </label>
                      <input type="number" required="true" class="form-control input-sm" id="telefono" name="telefono" placeholder="Telefono" disabled="True" />  
                    </div>
                    <div class="form-group">
                      <label for="fax">Fax: </label>                    
                      <input type="number" required="true" class="form-control input-sm" id="fax" name="fax" placeholder="Fax" disabled="true" /> 
                    </div>    
                  </div>
                </div>
              </div>          
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- MODAL ADD EMPRESA -->
  <div class="modal fade" id="modalAddEmpresa" role="dialog">
    <div class="modal-dialog">              
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Nueva Empresa</h4>
        </div>
        <div class="modal-body">          
          <h4>Datos de la empresa</h4> 
          <div class="form-group">
            <input id="nuevoId" style="display: none" enable="true"/>
          </div>               
          <div class="form-group">
            <label for="nuevoNombre">Nombre: </label>
            <input type="text" required="true" class="form-control input-sm" id="nuevoNombre" name="nuevoNombre"
            placeholder="Nombre Empresa"/>   
          </div>
          <div class="form-group">
            <label for="nuevoDomicilio">Domicilio: </label>                  
            <input type="text" required="true" class="form-control input-sm" id="nuevoDomicilio" name="nuevoDomicilio"
            placeholder="Domicilio Empresa"/>
          </div>
          <div class="form-group">
            <label for="nuevaLocalidad">Localidad: </label>                    
            <input type="text" class="form-control input-sm" id="nuevaLocalidad" required="true" name="nuevaLocalidad" placeholder="Localidad empresa"/>                    
          </div>
          <div class="form-group">
            <div class="col-xs-3" style="padding-left: 0px">
                   <label for="nuevaProvincia">Provincia: </label>
              </div>
              <div class="col-xs-9  input-sm">                             
                <select name="nuevaProvincia" id="nuevaProvincia" required="true" class="selectpicker dropdown-toggle form-control input-sm" type="button" data-toggle="dropdown">
                  <option disabled selected value>--Seleccione una opcion--</option>  
                </select>
              </div>                     
          </div>
          &nbsp 
          <div class="form-group">               
              <div class="col-xs-3" style="padding-left: 0px">
                  <label for="nuevaSituacionIVA">Situacion IVA: </label>
              </div>
              <div class="col-xs-9  input-sm">                             
                <select name="nuevaSituacionIVA" id="nuevaSituacionIVA" required="true" class="selectpicker dropdown-toggle form-control input-sm" type="button" data-toggle="dropdown">
                  <option disabled selected value>--Seleccione una opcion--</option>                   
                </select>
              </div> 
              &nbsp                                                           
              <input type="text"  class="form-control input-sm" id="nuevoIva" name="situacionIVACompleto" 
              disabled="true" placeholder="Situacion IVA descripcion completa" />                                 
          </div>                      
          <div class="form-group">
            <label for="nuevoCuit">Cuit: </label>                    
            <input type="number" required="true" class="form-control input-sm" id="nuevoCuit" name="nuevoCuit" placeholder="Cuit"/>
          </div> 
           <div class="form-group">
            <div class="col-xs-3" style="padding-left: 0px">
                   <label for="nuevoIngresosBrutos">Ingresos Brutos: </label> 
              </div>
              <div class="col-xs-9  input-sm">                             
                <select id="nuevoIngresosBrutos" name="nuevoIngresosBrutos" class="selectpicker dropdown-toggle form-control input-sm" type="button" data-toggle="dropdown" required="true">
                  <option disabled selected value>--Seleccione una opcion--</option>  
                </select>
              </div>                     
          </div>
          &nbsp 
          <div class="form-group">               
                <div class="col-xs-3" style="padding-left: 0px;">
                    <label for="nuevoRubro">Rubro: </label>
                </div>
                <div class="col-xs-9">                             
                  <select name="nuevoRubro" id="nuevoRubro" required="true" class="selectpicker dropdown-toggle form-control input-sm" 
                  type="button" data-toggle="dropdown">
                    <option disabled selected value>--Seleccione una opcion--</option>  
                  </select>
                </div>                                
          </div>
          <div class="form-group">
            <label for="nuevoTitular">Titular: </label>
            <input type="text" class="form-control input-sm" id="nuevoTitular" name="nuevoTitular" placeholder="Titular" required="true" />
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-xs-6 " id="colDelete">
            <button type="button" class="btn btn-danger pull-left" id="deleteEmpresa" style="display: none">Borrar</button>
          </div>         
          <div class="col-xs-6 ">
            <button type="button" class="btn btn-success" id="editDatesEmpresa" style="display: none">Guardar</button>
            <button type="button" class="btn btn-success" id="newEmpresa" style="display: none" >Guardar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>                
    </div>
  </div>
  <!-- /MODAL ADD EMPRESA -->
{% endblock %}